/* ---------- reset ---------- */
body,dl,dt,dd,ul,ol,li,th,td,form,input,textarea,p {margin:0; padding:0;}
img {display:block; border:0;}
li {list-style:none}
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
article,aside,canvas,figure,figure img,figcaption,footer,header,hgroup,menu,nav,section,audio,video {display:block; margin:0; padding:0;}

/* ---------- common ---------- */
html {overflow-y:scroll;}
body {text-align:center; font-size:16px; line-height:1.5; 
font-family:"微軟正黑體", "Microsoft JhengHei", sans-serif; color:#333;
}
h1,h2,h3,h4,h5,h6 {margin:0;}
p {text-align:justify; text-justify:distribute;}
table {border-collapse:collapse; border-spacing:0; table-layout:fixed; border:1px solid #000;}
th {border:1px solid #000;}
td {border:1px solid #000;}
a {outline:none; text-decoration:none;}
input {vertical-align:middle;}

.centerwpr {max-width:960px; padding:0 20px; margin:0 auto;}



