.outerwpr.newswpr {background-color:#2d4262;}
.outerwpr.newswpr:before {display:none;}

.newsbg {width:100%; height:100vh; position:absolute; left:0; top:0;
background-color:#ee294a;
}
.newsbg:before {content:""; display:block; width:100%; height:100vh;
position:absolute; left:0; top:0;    
background-image:url("../images/bg-roofcover-blue.png"); background-repeat:no-repeat;
background-size:100% auto; background-position:center 0;
}
.newsbg:after {content:""; display:block; width:100%;}



.outerwpr {min-height:100vh; position:relative;
background-color:#ee294a;    
}
.outerwpr:before {content:""; display:block; width:100%; height:100vh;
position:absolute; left:0; top:0;    
background-image:url("../images/bg-roofcover.png"); background-repeat:no-repeat;
background-size:100% auto; background-position:center top;
}




/* ----- listing ----- */
.listing {display:flex; flex-wrap:wrap; justify-content:space-around;
margin:0 -10px;
}

.listing--entry {width:calc(33.3% - 20px); 
margin-bottom:20px;
text-align:left;
background-color:#fff; border-radius:1px; overflow:hidden;
position:relative; top:0; transition-duration:300ms; transition-property:top;
}
.listing--entry:hover {top:-10px;}

.listing--container {display:block;}

.listing--hero {width:100%; height:0; padding-top:66.66%;
background-size:cover; background-position:center cetner;
}

.listing--innerwpr {padding:18px 24px;}
.listing--title {margin-bottom:10px;
font-size:20px; color:#2d4262; text-align:justify; font-weight:bold;
line-height:1.4;
}
.listing--brief {color:#a0a0a0; text-align:justify;}

