/* .quizwpr {min-height:100vh; position:relative;
background-color:#ee294a;    
}
.quizwpr:before {content:""; display:block; width:100%; height:100vh;
position:absolute; left:0; top:0;    
background-image:url("../images/bg-roofcover.png"); background-repeat:no-repeat;
background-size:100% auto; background-position:center top;
} */

/* ----- pagination ----- */
.swiper-pagination {position:relative; bottom:auto;
margin-bottom:20px; padding-top:120px;
}
.result .swiper-pagination {visibility:hidden;}

.swiper-pagination span {font-style:italic; color:#fff; line-height:1;}
.swiper-pagination .qmark {font-size:50px; font-weight:bold}
.swiper-pagination .current {font-size:56px; font-weight:bold}
.swiper-pagination .slash {margin:0 5px;
font-size:30px; position:relative; top:-4px;
}
.swiper-pagination .total {font-size:36px; font-weight:bold}

/* ----- quiz ----- */
.quiz {display:flex; flex-direction:column; align-items:center;}

.quiz--question {margin-bottom:30px;
font-size:30px; font-weight:bold; color:#fff;
}


/* ----- quiz option ----- */
.quiz--option+.quiz--option {margin-top:10px;}



#result-slide {visibility:hidden;}
.result #result-slide {visibility:visible;}

/* ---------- 再玩一次 ----------*/
/* #resetQuiz {width:300px; height:60px; margin:0 auto;
display:flex; justify-content:center; align-items:center;    
cursor:pointer;
background-color:#dcdcdc;
} */

/* ---------- 測驗結果 ----------*/
.result {display:flex; flex-direction:column; align-items:center;}











/* ---------- 測試用的計分板 ----------*/
.blackboard {display:flex; justify-content:center; align-items:center;
flex-wrap:wrap;
position:fixed; left:0; bottom:0; width:100%; padding:8px 0;
background-color:#2d4262;
}
.score-entry {font-size:14px; white-space:nowrap; color:#fff;}
.score-entry+.score-entry:before {content:"/"; margin:0 10px;
color:#ccc;
}
