@charset "utf-8";
/*--- reset ---*/
body,dl,dt,dd,ul,ol,li,th,td,form,input,textarea,p {margin:0; padding:0;}
img {display:block; border:0;}
li {list-style:none}
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
article,aside,canvas,figure,figure img,figcaption,footer,header,hgroup,menu,nav,section,audio,video {display:block; margin:0; padding:0;}

/*--- global ---*/
html {background-color:#071624; }
body {text-align:center; font-size:13px; line-height:23px; font-family:"微軟正黑體", "Microsoft JhengHei", sans-serif;}
h1,h2,h3,h4,h5,h6 {margin:0; line-height:110%;}
p {text-align:justify; text-justify:distribute;}
table {border-collapse:collapse; border-spacing:0; table-layout:fixed; border:1px solid #000;}
th {border:1px solid #000;}
td {border:1px solid #000;}
a {outline:none; text-decoration:none;}
.clear {clear:both;}
input {vertical-align:middle;}

div,a {background-repeat:no-repeat;}

/*--- container ---*/
.container {position:relative; width:100%; height:100vh; min-height:450px; overflow:hidden;
background-color:#071624;
background-image:url("../images/stage.png"); background-position:center bottom; background-size:1920px auto;
}

.question {width:360px; height:240px; position:fixed; left:0; bottom:0; z-index:600;
pointer-events:none; 
}
.question-scalewpr {width:100%; height:100%; position:absolute; left:0; top:0;
pointer-events:auto;
}
.panelbg {width:800px; height:800px; position:absolute; top:0; right:-33px;
background-color:#1c1d29; border-radius:100%;
}
.bullhorn {width:259px; height:305px; position:absolute; left:-50px; bottom:-50px;
background-image:url("../images/bullhorn.png"); background-size:100% auto;
}

.question-content {width:470px; padding:25px 80px 20px 130px;
position:absolute; left:70px; bottom:80px;
background-color:rgba(29,43,75,0.97); border-radius:100px 30px 30px 100px;
box-sizing:border-box;
pointer-events:auto;
}

.question-control {display:flex; justify-content:flex-end; align-items:center; position:relative; z-index:500; right:-14px;}
.question-index {position:relative; text-indent:10px;
color:#fff; font-size:45px; text-align:center; line-height:100%; 
font-family:"Press Start 2P";
}
.question-btn {display:block; width:54px; height:44px; cursor:pointer;
background-image:url("../images/question-arrow.svg"); background-size:auto 37px;
}
.question-btn.prev {background-position:left center;}
.question-btn.next {background-position:right center;}
.question-btn.disabled {opacity:0; cursor:default;}

.question-content p {color:#fff; font-size:18px; line-height:26px; min-height:52px; margin-bottom:25px;}

/* --- End button ---*/
.btn-end {width:140px; height:140px; position:absolute; right:-120px; top:50%; margin-top:-70px; cursor:pointer;
display:flex; justify-content:center; align-items:center;
font-size:28px; line-height:60px; color:#fff;
background-color:#e54427; border-radius:100%; opacity:0.92;
transition:400ms opacity;
}
.btn-end:hover {opacity:1;}
.btn-end:after {content:""; display:block; width:58px; height:6px; position:absolute; left:50%; top:50%; margin:-3px 0 0 -29px;
background-color:#ff8159;
}


/*--- stag scene ---*/
.bg {background-position:center bottom; background-size:1920px auto;}

.stage {width:100%; height:100vh; position:absolute; left:0; top:0; padding-bottom:280px; 
box-sizing:border-box;
}

.candidate-wrapper {height:100%; position:relative; 
display:flex; align-items:flex-end; justify-content:space-around; flex-wrap:nowrap;
}

.audience {position:absolute; width:100%; height:303px; left:0; bottom:0; z-index:500; 
background-image:url("../images/audience.png"); background-repeat:repeat-x;
pointer-events:none;
transition:500ms; 
transition-property:filter;
}
.dim .audience {filter:brightness(50%) opacity(98%) saturate(80%);}

.curtains {width:181px; height:790px; position:absolute; bottom:33%;
background-size:181px auto;
transition:500ms; 
transition-property:filter;
}
.curtains.left {left:0; background-image:url("../images/curtains-left.png"); background-position:left bottom;}
.curtains.right {right:0; background-image:url("../images/curtains-right.png"); background-position:right bottom;}

.dim .curtains {filter:brightness(30%) opacity(50%);}

.flag {width:219px; height:231px; position:absolute; top:10px;
background-size:219px auto;
transition:500ms; 
transition-property:filter;
}
.flag.left {left:-5px; background-image:url("../images/flag-left.png"); background-position:left top;}
.flag.right {right:-5px; background-image:url("../images/flag-right.png"); background-position:right top;}

.dim .flag {filter:brightness(30%) opacity(90%);}

/* --- stage overlay ---*/
#stageMask {width:100vw; height:100vh; position:fixed; left:0; top:0;
background-color:rgba(7,22,36,0.9); pointer-events:none; 
opacity:0; transition:opacity 500ms; 
}
.dim #stageMask {opacity:1;}

/*--- candidate ---*/
.candidate {height:529px; position:relative; cursor:pointer;
transition:500ms; 
transition-property:filter;
pointer-events:none; 
}
.dim .candidate {filter:brightness(25%) opacity(98%) saturate(80%); z-index:5;}
.dim .candidate.active {filter:none; z-index:10; }

.candidate-scalewpr {position:relative; height:100%;
pointer-events:auto;
}

.podium {width:190px; height:233px; position:absolute; left:50%; bottom:0; margin-left:-95px; 
background-image:url("../images/podium.png"); background-size:100% auto; 
}
.podium:before {content:""; display:block; width:350px; height:150px; position:absolute; left:50%; margin-left:-68px; bottom:-150px; 
background-image:url("../images/podium-shadow.png"); background-size:100% auto;
}

.candidate .avatar {width:310px; position:absolute; left:50%; bottom:0; margin-left:-155px;}

.candidate .name {width:75px; height:75px; position:absolute; bottom:48px; left:50%; margin-left:-44px; 
border-radius:100%; border:6px solid #fff;
}
.candidate .name img {width:100%;}

.emblem {width:130px; height:130px; position:absolute; left:50%; margin-left:-65px; 
background-image:url("../images/emblem.png"); background-size:100% auto;
transition:600ms; top:50px; opacity:0;
transition-property:top,opacity; 
pointer-events:none; 
}
.candidate.active .emblem {top:-90px; opacity:1;}

/*--- candidate: mobile small avatar ---*/
.avatar-small {position:absolute; width:128px; height:128px; left:15px; top:-15px;
display:none;
}
.avatar-small img {position:absolute; left:0; bottom:0; width:100%;}

/*--- candidate: counter ---*/
.counter {min-width:135px; height:31px; display:inline-block; margin:0 auto; padding:0 7px; position:relative; top:314px;
background-color:#2f2f42; border:7px solid #111; border-top-width:6px;
}
.counter:before,.counter:after {content:""; display:block; width:0; height:0; position:absolute; bottom:-26px;
border-style:solid; border-width:20px 14px 0 14px; border-color:#0d0d06 transparent transparent transparent;
}
.counter:before {left:-7px;}
.counter:after {right:-7px;}

.counter .count {position:relative;
color:#e95b64; font-size:20px; line-height:36px; text-align:center; white-space:nowrap;
font-family:"Press Start 2P";
}
.counter .bottom {width:calc(100% - 14px); height:20px; position:absolute; left:7px; bottom:-26px;
background-color:#0d0d06;
}

/*--- candidate: answer ---*/
.bubble {width:330px; position:absolute; padding:30px 35px 45px 35px; 
background-color:#19307a; border-radius:30px; cursor:auto; pointer-events:auto;
}
.bubble:before {content:""; display:none; width:34px; height:48px; position:absolute; left:-32px; top:50%; margin-top:-24px; 
background-image:url("../images/bubble-tail.png"); background-size:auto 100%; background-position:0 0; 
}
.bubble:after {content:""; display:none; width:34px; height:48px; position:absolute; right:-32px; top:50%; margin-top:-24px; 
background-image:url("../images/bubble-tail.png"); background-size:auto 48px; background-position:-66px 0;
}

.bubble {opacity:0; top:100px; pointer-events:none;
transition:600ms; transition-property:opacity,top; 
}
.active .bubble {opacity:1; top:70px; pointer-events:auto;}

.bubble p {color:#fff; font-size:18px; line-height:26px;}

.reactbtn {width:120px; height:120px; position:absolute; bottom:-100px;
border-radius:100%; border-width:7px; border-style:solid; cursor:pointer;
background-color:#132b68; background-size:100% auto; background-repeat:no-repeat; 
}
.reactbtn.add {border-color:#23aab1; left:56px;
background-image:url("../images/btn-flower.png"); background-position:5px -2px; 
}
.reactbtn.deduct {border-color:#d95a5b; right:56px;
background-image:url("../images/btn-shoe.png"); background-position:0 -2px; 
}
.reactbtn .txt {position:absolute; top:80px;
font-family:"Press Start 2P"; font-size:20px;    
}
.reactbtn.add .txt {color:#23aab1; left:12px;}
.reactbtn.deduct .txt {color:#d95a5b; right:16px;}

/*--- candidate: bubble position ---*/
.c01 .bubble {left:160px;}
.c01 .bubble:before {display:block;}
.c01 .bubble:after {display:none;}

.c02 .bubble {left:160px;}
.c02 .bubble:before {display:block;}
.c02 .bubble:after {display:none;}

.c03 .bubble {left:160px;}
.c03 .bubble:before {display:block;}
.c03 .bubble:after {display:none;}

.c04 .bubble {right:160px;}
.c04 .bubble:before {display:none;}
.c04 .bubble:after {display:block;}

.c05 .bubble {right:160px;}
.c05 .bubble:before {display:none;}
.c05 .bubble:after {display:block;}

.c06 .bubble {right:160px;}
.c06 .bubble:before {display:none;}
.c06 .bubble:after {display:block;}


/* --- transform origin ---*/
.question-scalewpr {transform-origin:left bottom;}
.candidate-scalewpr {transform-origin:center bottom;}
.curtains.left {transform-origin:left top;}
.curtains.right {transform-origin:right top;}
.flag.left {transform-origin:left top;}
.flag.right {transform-origin:right top;}

/* --- transform scale ---*/
.audience {background-size:1920px auto;}
.flag {transform:scale(0.95);}
.candidate-scalewpr {transform:scale(0.92);}
/*.candidate-scalewpr {transform:none !important;}*/

/* --- Opening ---*/
.scene-cover {position:absolute; left:0; top:0; width:100%; height:100%; z-index:650; 
background-image:url("../images/bg-cover.png"); background-size:cover; background-position:center center; 
display:flex; justify-content:center; align-content:center; align-items:center; flex-wrap:wrap;
}

.scene-cover.result {display: none;}

.opening-title {width:70%; overflow:hidden; margin-top:-160px;}
.opening-title img {width:100%; margin:0 auto;}

.opening-intro {width:100%; position:fixed; left:0; bottom:5%; text-align:center;}
.opening-intro p {width:40%; margin:0 auto 25px auto;
font-size:17px; color:#fff; text-align:center; line-height:140%;
}
.opening-start {display:block; width:180px; height:60px; margin:0 auto; cursor:pointer; position:relative;
font-size:22px; line-height:70px; text-align:center; color:#fff; font-family:"Press Start 2P";
background-color:#fc612b; border-radius:38px;
transition:250ms; transition-property:width;
}
.opening-start:hover {width:196px;}

/* --- Result ---*/
.result-box {width:700px; height:80%; margin:0 auto; position:relative; z-index:700;
text-align:left; box-shadow:0 2px 12px rgba(0,0,0,0.2);
}

.result-box-header {height:80px; padding:0 30px; position:relative; z-index:10;
border-radius:20px 20px 0 0; background-color:#132b68;
box-shadow:0 2px 6px rgba(0,0,0,0.2);
}
.result-box-header h1 {
font-size:32px; font-weight:normal; color:#fff; line-height:80px;
}

.result-box-footer {height:80px; position:relative; z-index:10;
border-radius:0 0 20px 20px; overflow:hidden;
box-shadow:0 -2px 6px rgba(0,0,0,0.2);
}
.result-box-footer .btn {width:50%; display:block; cursor:pointer;
line-height:80px; text-align:center; color:#fff; font-size:26px;
}
.result-box-footer .play {background-color:#dd5838; float:left; margin-left:-1px;}
.result-box-footer .share {background-color:#02b4b2; float:right;}

.result-box-content {position:relative; padding:0 30px; height:calc(100% - 160px); overflow:hidden;
background-color:#10265f;
}
.result-entry {width:50%; height:140px; padding:10px 0; float:left;
display:flex; align-items:center;
}
.result-entry img {width:128px; margin-right:10px;}

.result-entry-row {display:flex; align-items:center; padding:5px 0;}

.result-entry .amount {font-size:22px; color:#fff; line-height:24px; display:inline-block; white-space:nowrap;}

.result-entry .icon {display:inline-block; width:24px; height:24px; position:relative; margin-right:6px; }
.result-entry .icon.circle {width:16px; height:16px;
border:4px solid #23aab1; border-radius:100%;
}
.result-entry .icon.cross {transform-origin:center center; transform:rotate(45deg);}
.result-entry .icon.cross:before,.result-entry .icon.cross:after {content:""; display:block; position:absolute;
border-radius:2px; background-color:#d95a5b; 
}
.result-entry .icon.cross:before {width:25px; height:5px; left:0; top:10px;}
.result-entry .icon.cross:after {width:5px; height:25px; left:10px; top:0; }

.result-report {clear:both; margin:0 -30px; padding:30px; min-height:200px;
border-top:1px solid #091a36; background-color:#0c204a;
}
.result-report h2 {color:#fff; font-weight:normal; font-size:28px; margin-bottom:20px;}
.result-report li {list-style:disc; color:#ccc; margin-left:15px; margin-bottom:10px; padding-left:6px;}
.result-report a {color:#c3c5cc; font-size:17px; line-height:120%; cursor:pointer; position:relative; left:0;
transition:300ms; transition-property:color,left; 
}
.result-report a:hover {color:#fff; left:4px;}

/*  --- additional --- */

.logoShare {position:fixed; top:10px; left:10px; z-index:999;}
.logoShare > a {font-size:0; cursor:pointer;}
.logoShare__logo {display:block;}
.logoShare__logo > img {width:40px; height:40px;}
.logoShare__share {display:flex; justify-content:center; align-items:center; position:absolute; top:1px; left:51px; z-index:900; width:38px; height:38px;
border-radius:19px; transition:transform .2s ease-out; }
.logoShare__share > img {height:20px;}
.logoShare__share.toggle {width:40px; height:40px; top:0; left:50px; z-index:999; background-color:#000; border-radius:20px;}
.logoShare__share.fb {background-color:#3b5998;}
.logoShare__share.fb.open {transition-duration:.19s;transform:translate3d(50px,0,0);}
.logoShare__share.line {background-color:#00c300;}
.logoShare__share.line.open {transition-duration:.19s;transform:translate3d(100px,0,0);}
.logoShare__share.gplus {background-color:#d34836;}
.logoShare__share.gplus > img {height:15px;}
.logoShare__share.gplus.open {transition-duration:.19s;transform:translate3d(150px,0,0);}
