@charset "utf-8";

@media only screen and (max-width : 1680px) {        
  
    /* --- resize ---*/
    .audience {background-size:1820px auto;}
    .candidate-scalewpr {transform:scale(0.86);}
    .question-scalewpr {transform:scale(0.9);}
    .flag {transform:scale(0.9);} 
    
}

@media only screen and (max-width : 1440px) {    
    
    /* --- resize ---*/
    .audience {background-size:1700px auto;}
    .candidate-scalewpr {transform:scale(0.8);}
    .question-scalewpr {transform:scale(0.75);}
    .flag {transform:scale(0.8);}   
    
    /* --- 問題內容 ---*/
    .question-content {left:40px; bottom:50px; padding-left:115px; }
    
    /* --- opening ---*/
    .opening-title {width:75%;}
    
}


@media only screen and (max-width : 1280px) {    
    
    /* --- resize ---*/
    .audience {background-size:1600px auto;}
    .candidate-scalewpr {transform:scale(0.72);}
    .question-scalewpr {transform:scale(0.7);}
    .flag {transform:scale(0.7);}
    
    /* --- position ---*/
    .stage {padding-bottom:260px;}
    .curtains {bottom:40%;}
    
     /* --- 問題內容 ---*/
    .question-content {bottom:40px; padding-left:110px;}
    
    /* --- 回答泡泡 ---*/
    .bubble  {top:130px;}
    .active .bubble {top:100px;}
    
    /* --- opening ---*/
    .opening-title {width:80%;}
    
    /* --- result ---*/
    .result-box {height:94%;}
    
}

@media only screen and (max-width : 1170px) {    
    
    /* --- resize ---*/
    .audience {background-size:1500px auto;}
    .candidate-scalewpr {transform:scale(0.62);}
    .question-scalewpr {transform:scale(0.6);}
    
    /* --- 問題內容 ---*/
    .question-content {width:420px; left:30px; bottom:30px; padding-left:100px;}
    .question-index {font-size:40px;}
    .bubble p,.question-content p {font-size:16px; line-height:22px;}
    .question-content p {min-height:44px;}
    
}

@media only screen and (max-width : 1024px) {    
    
    /* --- resize ---*/
    .audience {background-size:1400px auto;}
    
    /* --- others ---*/
    .counter .count {line-height:31px;}
    
    /* --- 問題內容 ---*/
    .question-content {width:400px;}
    
}

@media only screen and (max-width : 1024px) and (min-height : 1024px) {    
    
    /* --- resize ---*/
    .curtains {transform:none;}
        
    /* --- others ---*/
    .curtains {bottom:auto; top:0;}
    .flag {top:20px;}
}

@media only screen and (max-width : 1000px) {    
    
    /* --- resize ---*/
    .candidate-scalewpr {transform:scale(0.7);}
    
     /* --- position ---*/
     .stage {padding-bottom:230px;}
    .candidate-wrapper {flex-wrap:wrap; align-content:center;}
    
    .candidate {flex-basis:33%;}
    .candidate.c01 {top:48px; left:40px;}
    .candidate.c02 {top:48px;}
    .candidate.c03 {top:48px; left:-40px;}    
    .candidate.c04 {top:-150px; left:-5px;}
    .candidate.c05 {top:-150px;}
    .candidate.c06 {top:-150px; left:5px;}    
    
    .curtains {bottom:33%;}
    .flag {top:15px;}
    .flag.left {left:-15px;}
    .flag.right {right:-15px;}
    
    /* --- 問題內容 ---*/
    .bubble p,.question-content p {font-size:15px; line-height:21px;}
    .question-content p {min-height:42px;}
    
    /* --- 回答泡泡 ---*/
    .bubble  {top:180px; width:280px; padding:20px 30px 45px 30px;}
    .active .bubble {top:150px;}
    
    .reactbtn {width:100px; height:100px; bottom:-80px;}
    .reactbtn.add {left:50px;}
    .reactbtn.deduct {right:50px;}
    .reactbtn .txt {top:65px; font-size:18px;}
    .reactbtn.add .txt {left:9px;}
    .reactbtn.deduct .txt {right:12px;}
    
    /* --- 回答泡泡位置 ---*/
    .c03 .bubble {right:160px; left:auto}
    .c03 .bubble:before {display:none;}
    .c03 .bubble:after {display:block;}
    
    .c04 .bubble {left:160px; right:auto;}
    .c04 .bubble:before {display:block;}
    .c04 .bubble:after {display:none;}
    
    .c05 .bubble {left:160px; right:auto}
    .c05 .bubble:before {display:block;}
    .c05 .bubble:after {display:none;}    
    
    /* --- opening ---*/
    .opening-title {width:85%;}
    .opening-intro p {width:50%;}
        
}

@media only screen and (max-width : 770px) {
    
    /* --- opening ---*/
    .opening-title {width:96%;}
    
     /* --- result ---*/
     .result-box {width:94%;}
    
}

@media only screen and (max-width : 700px) {    
    
    /* --- resize ---*/
    .container {background-size:1700px auto;}
    .audience {background-size:1500px auto;}
    .curtains {transform:scale(0.85);}
    
    .candidate-scalewpr { transform:scale(0.82);}
    
     /* --- position ---*/
    .stage {overflow-x:hidden; overflow-y:hidden;
    padding-bottom:220px; 
    }
    .candidate-wrapper {width:600vw; height:100%; position:relative;
    flex-wrap:nowrap; align-content:flex-end;
    }
    .candidate {width:100vw;}        
    .stage .candidate {left:0; top:0;}
    
    .flag {top:10px;}
    .curtains {bottom:18%;}
    
    /* --- 問題內容 ---*/
    .question-content p {margin-bottom:20px;}
    
    /* --- 回答泡泡 ---*/
    .avatar-small {display:block;}
    .emblem {display:none;}
    
    .candidate .bubble {z-index:500; position:fixed; top:60px; left:15px; width:calc(100vw - 30px);
        padding-bottom:25px; padding-top:120px;
        box-sizing:border-box; 
    }
    .candidate.active .bubble {top:30px;}
    
    .candidate .bubble:before {display:block; width:48px; height:34px;
        left:40px; top:auto; margin-top:0; bottom:-33px;
        background-position:right 0;
    
    }
    .candidate .bubble:after {display:none;}

    .reactbtn {bottom:auto; top:10px;
        width:86px; height:86px;
        border-width:5px;
    }
    .reactbtn.add {right:128px; left:auto;}
    .reactbtn.deduct {right:16px;}
    
    .reactbtn .txt {top:56px; font-size:16px;}
    .reactbtn.add .txt {left:9px;}
    .reactbtn.deduct .txt {right:12px;}
    
}

@media only screen and (max-width : 590px) {  
    
    /* --- 問題內容 ---*/
    .question-content {width:340px; padding-right:60px; }
    .btn-end {width:120px; height:120px; right:-90px; margin-top:-60px;
          font-size:26px; line-height:50px;        
    }
    
    /* --- opening ---*/
    .opening-title {width:100%;}
    .opening-title img {width:120%; margin-left:-10%;}
    .opening-intro p {width:65%;}
    
    /* --- result ---*/
    .result-box-content {padding:0 15px;}
    .result-entry {width:100%; float:none; padding:0; }
    .result-entry:nth-child(even) {justify-content:flex-end; margin-top:-30px;}
    .result-entry:nth-child(even) img {order:2;}
    .result-report {margin-top:30px; }

}

@media only screen and (max-width : 420px) {    
    
    /* --- resize ---*/
    .container {background-size:1500px auto;}
    
    .candidate-scalewpr {transform:scale(0.74);}
    .flag {transform:scale(0.6);}  
    
    /* --- position ---*/
    .curtains {bottom:16%;}
    .stage {padding-bottom:200px;}
    
    /* --- 問題內容 ---*/
    .bullhorn {display:none;}
    .question-content {width:290px; left:10px; padding-left:25px;
        border-radius:20px;
    }
    .question-content p {font-size:16px; line-height:22px; min-height:44px;}
    
    .question-control {height:32px;}
    .question-index {font-size:32px;}
    .question-btn {height:32px; background-size:auto 32px;}
    
    .btn-end {position:fixed; right:6px; bottom:40px; top:auto; margin-top:0;
        font-size:22px; line-height:50px;
    }
    
    /* --- 回答泡泡 ---*/
    .candidate .bubble {left:10px; width:calc(100vw - 20px);}
    
    /* --- opening ---*/
    .opening-title img {width:140%; margin-left:-20%;}
    .opening-intro p {width:80%;}
    
    /* --- result ---*/
    .result-box-header h1 {font-size:26px;}
    .result-box-footer .btn {font-size:22px;}
    
    .result-entry {padding:0; }
    .result-entry:nth-child(even) {justify-content:flex-start; margin-top:0;}
    .result-entry:nth-child(even) img {order:0;}
    .result-report {margin-top:30px; }
    
    .result-entry img {width:110px;}

}

@media only screen and (max-width : 400px) {
    
    /* --- 回答泡泡 ---*/
    .avatar-small {left:5px;}
    .reactbtn.add {right:95px;}
    .reactbtn.deduct {right:-10px;}
    
     /* --- 問題內容 ---*/     
     .question-content {bottom:20px; width:295px;
        padding-left:25px; padding-right:80px; padding-bottom:15px; padding-top:18px; 
        
     }
     .question-content p {font-size:15px; line-height:19px;}     
     .btn-end {width:110px; height:110px; bottom:29px;}
    
    
}

@media only screen and (max-width : 360px) {    
    
    /* --- resize ---*/
    .container {background-size:1400px auto;}
    .audience {background-size:1300px auto;}
    .candidate-scalewpr {transform:scale(0.7);}
    .curtains {transform:scale(0.75);}
    
     /* --- position ---*/
     .curtains {bottom:0;}
     .stage {padding-bottom:185px;}
     
     /* --- 問題內容 ---*/
     .question-content {width:260px; padding-right:70px;}     
    .question-control {height:28px;}
    .question-index {font-size:28px;}
    .question-btn {height:28px; background-size:auto 28px;}
    
    /* --- 回答泡泡 ---*/
    .bubble {border-radius:20px;}
    .candidate .bubble:before {display:none;}
    
    /* --- opening ---*/
    .opening-intro p {width:90%; font-size:16px; margin-bottom:20px; }

}

@media only screen and (max-width : 320px) {    
    
    /* --- resize ---*/
    .container {background-size:1200px auto;}
    .audience {background-size:1200px auto;}
    
    .candidate-scalewpr {transform:scale(0.62);}
    .curtains {transform:scale(0.72);}
    .flag {transform:scale(0.5);}
    
     /* --- position ---*/
     .curtains {bottom:-20px;}
     .stage {padding-bottom:165px;}
     
     /* --- 問題內容 ---*/
     .question-content {width:250px; left:3px; padding-left:15px; }  
     .btn-end {width:96px; height:96px; bottom:34px; right:3px; font-size:19px; line-height:40px;}
     .btn-end:after {width:40px; margin-left:-20px; }
     
     /* --- 回答泡泡 ---*/
     .reactbtn {width:70px; height:70px;}
    .reactbtn.add {right:75px;}
    .reactbtn.deduct {right:-10px;}
    
    .reactbtn .txt {top:42px; font-size:15px;}
    .reactbtn.add .txt {left:3px;}
    .reactbtn.deduct .txt {right:3px;}
    
    .avatar-small {width:120px; height:120px; left:5px;}
     
      /* --- opening ---*/
    .opening-title img {width:150%; margin-left:-25%;}
    .opening-intro p {font-size:15px;}
    .opening-start {height:50px;
        font-size:18px; line-height:60px;
    }
    
    /* --- result ---*/
    .result-box-header h1 {font-size:22px;}
    .result-box-footer .btn {font-size:20px;}
    
    .result-entry {padding:6px 0; }
    .result-entry span {font-size:18px;}
    .result-report a {font-size:15px;}

}

@media only screen and (max-width : 320px) and (max-height : 500px) {    
    
    /* --- resize ---*/
    .container {background-size:1000px auto;}
    .audience {background-size:1100px auto;}
    
    .candidate-scalewpr {transform:scale(0.58);}
    .curtains {transform:scale(0.6);}
    .flag {transform:scale(0.45);}
    
     /* --- position ---*/
     .curtains {bottom:-160px;}
     .stage {padding-bottom:140px;}
     
     /* --- 回答泡泡 ---*/        
    .candidate .bubble {top:45px;}
    .candidate.active .bubble {top:15px;}

}
