@font-face {
  font-family: 'fontello';
  src: url('./font/fontello.eot?67277035');
  src: url('./font/fontello.eot?67277035#iefix') format('embedded-opentype'),
       url('./font/fontello.woff?67277035') format('woff'),
       url('./font/fontello.ttf?67277035') format('truetype'),
       url('./font/fontello.svg?67277035#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
.share-icon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: "fontello";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: .2em;
  margin-right: .2em;
  speak: none;
  text-align: center;
  text-transform: none;
  width: 1em;
}

body, html {
  height: 100%;
  width: 100%;
  font-family: "Noto Sans TC", STHeitiTC-Light, 微軟正黑體, "Microsoft JhengHei", sans-serif;
}

body {
    /*background-color: #000;*/
    margin: 0px;
    text-align: center;
    overflow: hidden;
    overflow-x: hidden !important;
}

video::-webkit-media-controls {
  display:none !important;
}

.videoContainer {
  position: fixed;
  top: 0;
  z-index: -10;
  width: 100%;
  height: 100%;
  background: #202020;
}

#myVideo{
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  /*transform: translate(-25%, -25%) scale(1.75);*/
  transform: translate(-30%, -25%) scale(1.5);
}

.leftContainer {
  /*height: calc(100% - 80px);*/
  width: 50%;
  z-index: 50;
  background-color: rgba(0,0,0,0.7);
  color: #fff;
  /*position: absolute;*/
  line-height: 1.8;
  top: 0;
  padding: 0 20px;
  padding-top: 80px;
  /*margin-bottom: -90px;*/
  overflow: auto;
}
.leftContainer p {
  text-align: left;
}

div.leftContainer::-webkit-scrollbar {
    height: 10px;
    width: 10px;
    background: rgba(0,0,0,0);
}

div.leftContainer::-webkit-scrollbar-thumb {
    background: #202020;
    -webkit-border-radius: 1ex;
}

div.leftContainer::-webkit-scrollbar-corner {
    background: #000;
}

#curtain {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: #000;
}

.nav {
  position: fixed;
  top:0;
  height: 60px;
  background: #979797;
  display: block;
  width: 100%;
  z-index: 100;
}
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
}
.nav ul li {
  display: inline;
  float: left;
  padding: 0 20px;
  line-height: 60px;
  font-size: 14px;
  font-weight: 500;
  color: #FFF;
  border-right: 1px solid #FFF;
}
.nav ul li.active,
.nav ul li.activeK {
  background: #4E4F4E;
}

.menuBtn {
  display: none;
  float: right;
  background: url('../img/menuBtn.png') 50% 50% no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
  margin: 10px;
}

.menuCover {
  display: none;  
  position: fixed;
  z-index: 199;
  top: 60px;
  height: calc(100vh - 60px);
  width: 100%;
  background-color: #767676;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
.menuCover.active {
  opacity: 1;
  transition: visibility 0.5s linear, opacity 0.5s linear;
  display: block;
}

.menuCover ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: table;
}

.menuCover li {
  display:table; 
  color: #fff;
  width: 100%;
  font-size: 20px;
  height: calc(25vh - 15px);
  border-bottom: solid 1px #ccc;
}

.mainTitle {
  position: absolute;
  width: 500px;
  height: 150px;
  top:0;
  bottom:0;
  left: 0;
  right:0;
  margin: auto;
  font-size: 65px;
  line-height: 70px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  z-index: 90;
}

.mainTitle.loaded {
  animation: blackblur 5s normal forwards ease-in-out;
  pointer-events: none;
}

@keyframes blackblur {
  from { text-shadow: 0; color: #FFF; }
  50%  { text-shadow: 0 0 72px rgba(0,0,0,0.7);  color: transparent; }
  to   { text-shadow: 0 0 72px transparent;  color: transparent; }
}  

.logo {
    /*border: 1px #FFF solid;*/
    background: url('../img/logo@3x.png') 50% 50% no-repeat;
    background-size: cover;
    height: 40px;
    left: 20px;
    position: fixed;
    top: 10px;
    width: 40px;
    z-index: 190;
}

.logo:hover {
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition-duration: 400ms;
}

.share {
    /*border: 1px #FFF solid;*/
    height: 40px;
    left: 70px;
    overflow: visible;
    position: fixed;
    top: 10px;
    width: 40px;
    z-index: 190;
}

#particles {
    z-index: 50; 
    position: absolute;
    pointer-events: none;

    height: 100%;
    top: 0;
}

#particles canvas {
  width: 100%;
  height: 100%;
}

.continue {
    left: calc(50% - 20px);
    cursor: pointer;
    position: absolute;
    bottom: 3px;
    background: url(../img/continue.png) 50% 50% no-repeat;
    background-size: cover;
    margin: 0 auto;
    width: 40px;
    height: 40px;
    border: 0px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.2);
    z-index: 50;
}

.action {
    position: absolute;
    font-size: 10px;
    bottom: 35px;
    left: 0;
    text-align: center;
    width: 100%;
    height: 20px;
    color: rgba(255,255,255,0.7);
    z-index: 50;
    /*display: none;*/
}

#map {
  height: 100%; 
  width: 100%; 
  position:absolute; 
  top: 0; 
  left: 0; 
  z-index: 0;
}
#map canvas {
  pointer-events: none;
}

#particle-icon {
  z-index: 60;
  top: 0;
}

@keyframes Floatingx{
    from {transform: translate(0, 0px) scale(0.9);}
    65% {transform: translate(0, 15px) scale(1.0);}
    to {transform: translate(0, -0px) scale(0.9);}    
}

#particle-icon .icon-PM10 {
  position: absolute;
  top: 15vh;
  left: 15vw;
  animation: Floatingx 5s infinite ease-in-out;
}
#particle-icon .icon-PM25 {
  position: absolute;
  top: 45vh;
  left: 25vw;
  animation: Floatingx 3s infinite ease-in-out;
}
#particle-icon .icon-SOx {
  position: absolute;
  top: 25vh;
  left: 40vw;
  animation: Floatingx 3.5s infinite ease-in-out;
}
#particle-icon .icon-NOx {
  position: absolute;
  top: 60vh;
  left: 45vw;
  animation: Floatingx 3s infinite ease-in-out;
}
#particle-icon .icon-O3 {
  position: absolute;
  top: 45vh;
  left: 55vw;
  animation: Floatingx 5s infinite ease-in-out;
}
#particle-icon .label {
  position: absolute;
  top:50%;
  right: 0;
  color: #FFF;
  font-size: 10px;
}
#particle-icon .label .line {
  display: inline-block;
  width: 35px;
  height: 1px;
  background: #fff;
  margin-bottom: 5px;
  margin-right: 3px;
}
#particle-icon .icon-PM25 .label {
  top:75%;
}
#particle-icon img {
  max-width: 150px;
  max-height: 150px;
}

.infoBox {
  position: absolute;
  right: 0;
  top:10vh;
  margin: auto;
  width: 200px;
  height: 340px;
  background: rgba(0,0,0,0.6);
  color: #FFF;
}

.infoBox .AQI-Label {
  margin: 10px auto;
  font-size: 10px;
}

/* AQI CSS Table */
.AQI {
  display: table;
  border-collapse: collapse;
}
.AQI-Number, .AQI-Status, .AQI-Color, .AQI-Type {
  display: table-cell;
}
.AQI-Row {
  display: table-row;
}

.AQI-Color-M {
  position: absolute;
  background-color: #202020;
  height: 50px;
  width: 10px;
  left: 0;
}

#AQI-Number-M {
  line-height: 50px;
  font-size: 30px;
  font-weight: 600;
  margin-left: 10px;
}

#AQI-Status-M {
  line-height: 50px;
  font-size: 30px;
  font-weight: 600;
  margin-left: 10px;
}

.infoBox .AQI {
  width: 180px;
  height: 50px;
  border: 1px solid #FFF;
  margin: 5px auto;
  table-layout: fixed;
}
.infoBox .AQI-Number{
  border-right: 1px solid #FFF;
  line-height: 48px;
  font-size: 30px;
  font-family: Arial;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}
.infoBox .AQI-Status {
  line-height: 48px;
  font-size: 30px;
  font-weight: 600;
  display: table-cell;
  vertical-align: middle;
}
div[class^="AQI-Status-"] {
  display: none;
}

.AQI-Status-Unhealthy {
  font-size: 24px;
}

.AQI-Status-UnhealthySensitive, .AQI-Status-VeryUnhealthy {
  font-size: 18px;
  line-height: 20px;
  text-align: left;
  padding-left: 5px;
}

.infoBox .AQI-Color {
  height: 10px;
}

.AQI-Color-Good {
  background-color: #15a172;
}
.AQI-Color-Moderate {
  background-color: #fde050;
}
.AQI-Color-UnhealthySensitive {
  background-color: #fca249;
}
.AQI-Color-Unhealthy {
  background-color: #cf0a3f;
}
.AQI-Color-VeryUnhealthy {
  background-color: #7011a0;
}
.AQI-Color-Hazardous {
  background-color: #86042a;
}

.infoBox .AQI-Explain {
  width: 180px;
  margin-top: 10px;
  margin: 10px auto;
  font-size: 10px;
  line-height: 15px;
  height: 50px;
  text-align: left;
  display: none;
}
.infoBox hr {
  width: 170px;
  margin: 10px auto;
}
.infoBox ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 30px;
}
.infoBox ul.menu li {
  height: 30px;
}
.infoBox ul.menu li a {
  display: block;
  height: 30px;
  font-size: 10px;
  text-align: left;
  padding-left: 15px;
  line-height: 30px;
}
.infoBox ul.menu li a:hover {
  background-color: rgba(255,255,255,0.3);
}

.infoBox ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.infoBox ul li {
  display: block;
  height: 50px;
  text-align: left;
  padding-left: 15px;
  line-height: 50px;
}

.infoBox .siteInfo {
  position: absolute;
  bottom: 3px;
  right: 3px;
  color: rgba(255,255,255,0.7);
  font-size: 8px;
}

.siteInfoM {
  position: absolute;
  top: 3px;
  right: 3px;
  color: rgba(255,255,255,0.7);
  font-size: 8px;
  z-index: 51;
  display: none;
}

.infoMobile {
  position: absolute;
  right: 0;
  top:0;
  bottom: 0;
  margin: auto;
  width: 60px;
  height: 240px;
  background: rgba(0,0,0,0.6);
  color: #FFF;
  display: none;
}

.infoMobile ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.infoMobile ul.menu li {
  height: 40px;
}
.infoMobile ul.menu li a {
  text-decoration: underline;
  display: block;
  height: 40px;
  font-size: 12px;
  text-align: center;
  line-height: 40px;
}
.infoMobile ul.menu li a:hover {
  background-color: rgba(255,255,255,0.3);
}

.icon.icon-temperature,
.icon.icon-humidity,
.icon.icon-wind {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
}

.icon.icon-temperature { background: url('../img/temperature.png') 50% 50% no-repeat; background-size: cover; }
.icon.icon-humidity { background: url('../img/humidity.png') 50% 50% no-repeat; background-size: cover; }
.icon.icon-wind { background: url('../img/wind.png') 50% 50% no-repeat; background-size: cover; }


.infoWindow {
  position: absolute;
  left: 0;
  right: 0;
  top:0;
  bottom: 0;
  margin: auto;
  width: 450px;
  height: 300px;
  background: rgba(0,0,0,0.6);
  color: #FFF;
  padding: 20px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  z-index: 51;
}
.infoWindow.active {
  opacity: 1;
  transition: visibility 0.5s linear, opacity 0.5s linear;
  visibility: visible;
}
.infoWindow .AQI {
  height: 50px;
  border: 1px solid #FFF;
  margin-left: 0px;
  margin-bottom: 20px;
}
.infoWindow .AQI-Type {
  padding: 5px 10px;
  vertical-align: middle;
  text-align: left;
  font-family: Arial;
  font-size: 25px;
  border-right: 1px solid #FFF;
}
.infoWindow .AQI-Type small {
  display: block;
  font-size: 10px;
}
.infoWindow .AQI-Number {
  padding: 5px 10px;
  vertical-align: middle;
  font-family: Arial;
  font-size: 25px;
}
.infoWindow .AQI-Number small {
  display: block;
  font-size: 8px;
  line-height: 8px;
}

.infoWindow .closeBtn {
  height: 25px;
  width: 25px;
  border: 1px solid #FFF;
  position: absolute;
  cursor: pointer;
  top:10px;
  right: 10px;
}
.infoWindow .closeBtn svg {
  display: block;
}

.infoWindow .AQI-Label {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 10px;
}
.infoWindow .AQI-Explain {
  font-size: 15px;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
}

ul.station {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

ul.station li {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.56;
  color: #efdf6f;
}

ul.station li .stat {
  color: #FFF;
  font-size: 24px;
}

ul.station li .unit {
  color: #FFF;
  font-size:10px;
}

.section .title {
  font-size: 24px;
  font-weight: 300;
  border-left: 3px solid #efdf6f;
  padding-left: 10px;
}

.col-A, .col-B, .col-C, .col-D {
  padding: 10px;
  padding-left: 50px;
}

.col-A, .col-C {
  /*border-right: 1px solid #fff;*/
  padding-left: 0;
}

.col-A, .col-B {
  padding-bottom: 40px;
}

.col-C, .col-D {
  padding-bottom: 0;
}

.section .credit {
  font-size: 10px;
}

.heroTitle {
  color:#FFF; 
  font-size:240px; 
  margin: 30px 0;
}

.heroTitle img.desktop {
  max-width: 800px;
}

.heroTitle img.mobile {
  max-width: 100%;
  display: none;
}

.heroDesc {
  color:#FFF;
  max-width: 960px;
  margin: 0 auto;
  font-size: 22px;
  line-height: 2;
  text-align: left;
}
.section.ending .credit {
  position: absolute;
  bottom: 0;
  width: calc(100% - 20px);
  color: #fff;
  padding: 10px;
  word-spacing: 5px;
  background: #202020;
  font-size: 10px;
  line-height: 1.8;
  text-align: center;
}

.leftContainer h2 {
  text-align: left;
  color: #efdf6f;
}

.leftContainer a {
  text-decoration: underline;
}

.article p {
  line-height: 1.8;
}

svg path.county.data {
  opacity: 0.8;
}

/* Mobile Only */
@media screen and (max-width:767px) {
  .nav {
    display: none;
  }
  .nav ul{
    display: none;
    overflow: hidden;
  }
  .menuBtn {
    display: inline-block;
  }
  .mainTitle {
    width: 100%;
  }

  .section.article, .section.stats {
    padding-top: 60px;
  }

  .infoBox {
    display: none;
  }

  .siteInfoM {
    display: block;
  }

  .infoMobile.loaded {
    display: block;
  }

  .infoWindow {
    width: calc(100% - 81px);
    left:0;
    right: initial;
    padding: 10px;
    border: 1px solid #fff;
    height: calc(70vh - 20px);
  }

  .heroTitle {
    font-size: 120px;
    font-weight: bold;
    margin: 30px 15px;
    width: 240px;
  }



  .heroDesc {
    max-width: initial;
    margin: 10px 15px;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
  }

  .col-A, .col-C {
    border-right: none;
  }
  .col-B {
    border-bottom: 1px solid #fff;
  }

  .leftContainer {
    width: calc(100% - 40px);
  }
  .section.ending .credit {
    word-break: keep-all;
  }
  .heroTitle img.mobile {
    display: block;
  }
  .heroTitle img.desktop {
    display: none;
  }
  #particle-icon {
    display: none;
  }
}