@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?18992355');
  src: url('../font/fontello.eot?18992355#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?18992355') format('woff2'),
       url('../font/fontello.woff?18992355') format('woff'),
       url('../font/fontello.ttf?18992355') format('truetype'),
       url('../font/fontello.svg?18992355#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-font {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, "PingFang TC", "Heiti TC","蘋果儷中黑", "微軟正黑體", Microsoft JhengHei, sans-serif;
  background-color: #000;
  -webkit-user-select: none;
}

button {
  border:none;
  font-family: Roboto, "Helvetica Neue", Helvetica,Arial, "PingFang TC", "HanHei TC","蘋果儷中黑", "微軟正黑體", Microsoft JhengHei, sans-serif;
  cursor: pointer;
}

h1, h2, p, a, li {
  margin: 0.5em 0;
  font-family: Roboto, "Helvetica Neue", Helvetica,Arial, "PingFang TC", "HanHei TC","蘋果儷中黑", "微軟正黑體", Microsoft JhengHei, sans-serif;
}

p, a, li {
  font-size: 0.75rem;
}

h1 {
  font-size: 1.5rem;
}

#fullpage {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

#over18-notice {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .9);
  overflow: hidden;
}

#brief {
  background-image: url(../image/bg-01.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

#gallery-09 {
  background-color: #fff;
}

.mobile-only {
  display: block;
}

.mobile-hide {
  display: none;
}

.section {
  width: 100%;
  height: 100%;
}
.intro {
  position: relative;
  overflow: hidden;
  -webkit-perspective: 800px;
  perspective: 800px;
}

.intro-flip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: transform 1s;
  transition: transform 1s;
}

#intro-flip.flipped {
  -webkit-transform: rotateY( 180deg );
     -moz-transform: rotateY( 180deg );
       -o-transform: rotateY( 180deg );
          transform: rotateY( 180deg );
}

.intro-video {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
  -moz-transition: transform .5s ease-out;
  -o-transition: transform .5s ease-out; 
  -webkit-transition: transform .5s ease-out;
  transition: transform .5s ease-out;
}

.intro-video__video {
  position: relative;
  bottom: 40px;
  z-index: 100;
  width: 100%;
  height: 100%;
  object-fit: contain; 
}

.intro-video > h2 {
  position: absolute;
  top: 25px;
  left: calc(50% - 47.5px);
  margin: 0;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
}

.icon-volume-off, .icon-volume-up {
  font-size: 30px;
  color: #c1c2c5;
  cursor: pointer;
}

.volume-text {
  position: fixed;
  top: 5px;
  right: calc(50% - 60px);
  z-index: 250;
  font-size: 12px;
  font-weight: 300;
  color: #c1c2c5;
}

.volume--off {
  position: fixed;
  top: 15px;
  right: 10px;
  z-index: 250;
}

.volume--up {
  position: fixed;
  top: 15px;
  right: 3px;
  z-index: 250;
}

.intro-text {
  position: relative;
  z-index: 101;
  width: 100%;
  height: 100%;
  padding: 120px 15px 40px 15px;
  color: #fff;
  background-color: #000;
  transform: translateY(100%);
  /*-webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;*/
  -moz-transition: transform 1s ease-out;
  -o-transition: transform 1s ease-out; 
  -webkit-transition: transform 1s ease-out;
  transition: transform 1s ease-out;
}

.intro-text p {
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 300;
  text-align: justify;
}

.flip {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.intro-button {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.intro-button button {
  padding: 5px 10px;
  color: #fff;
  background-color: transparent;
  border:1px solid #fff;
  border-radius: 5px;
}

#intro-button--open {
  z-index: 100;
}

#intro-button--close {
  z-index: 110;
}

.gallery {
  width: 100%;
  height: 100%;
  /*padding: 0 0 0 60px;*/
}

.painting {
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.share-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 60px;
  padding: 10px 10px;
}

.logo {
  width: 40px;
  height: 40px;
  background: url('../image/logo@3x.png') 50% 50% no-repeat;
  background-size: cover;
}

.painting-intro {
  background-color: #fff;
}

.painting-intro .fp-tableCell {
  position: relative;
}

.painting-intro .fp-tableCell p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  font-family: "Songti TC", "LiSong Pro", "NSimSun", serif;
  font-size: 0.7rem;
  line-height: 1rem;
}

#related a {
  display: block;
  width: 100%;
  height: 45%;
  padding: 10px;
}

.related-img {
  width: 100%;
  height: 100%;
  background-position: 50% 50%; 
  background-size: cover; 
  background-repeat: no-repeat;
}

.related-title {
  position: relative;
  top: 50%;
  font-size: 1rem;
  text-align: center;
  line-height: 1rem;
  color: #fff;
}

.related-author {
  margin-top: 20px;
  font-size: 0.8rem;
  color: #fff;
  text-align: center;
  font-weight: 300;
}

.notice-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}

.notice-container p {
  font-size: 1rem;
  text-align: justify;
  line-height: 1.2rem;
  color: #373D3F;
}

.notice-button > button {
  width: 100%;
  margin: 0.5em 0;
  padding: 0.5em 0;
  border-radius: 5px;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  cursor: pointer;
}

.notice-button--over {
  color: #fff;
  background-color: #1087a8;
}

.notice-button--over:hover {
  background-color: #107896;
}

.notice-button--less {
  color: #373D3F;
  background-color: #fff;
  border:1px solid #c1c2c5;
}

.notice-button--less:hover {
  background-color: #f2f3f4;
}

.fp-controlArrow.fp-prev {
  left: 5px;
  border-width: 10px 10px 10px 0;
  border-right-color: rgba(255, 255, 255,.7);
}

.fp-controlArrow.fp-next {
  right: 5px;
  border-width: 10px 0 10px 10px;
  border-left-color: rgba(255, 255, 255,.7);
}

.fp-controlArrow {
  margin-top: -10px;
}

#gallery-02 .fp-controlArrow.fp-prev, #gallery-03 .fp-controlArrow.fp-prev, #gallery-09 .fp-controlArrow.fp-prev {
  left: 40%;
}

#gallery-02 .fp-controlArrow.fp-next, #gallery-03 .fp-controlArrow.fp-next, #gallery-09 .fp-controlArrow.fp-next {
  right: 40%;
} 

#gallery-02 .fp-controlArrow, #gallery-03 .fp-controlArrow, #gallery-09 .fp-controlArrow {
  top: inherit;
  bottom: 15px;
} 

#gallery-04 .fp-controlArrow.fp-prev, #gallery-07 .fp-controlArrow.fp-prev,
#gallery-08 .fp-controlArrow.fp-prev, #gallery-09 .fp-controlArrow.fp-prev,
#gallery-10 .fp-controlArrow.fp-prev {
  border-right-color: rgba(11,79,162,1);
}

#gallery-04 .fp-controlArrow.fp-next, #gallery-07 .fp-controlArrow.fp-next,
#gallery-08 .fp-controlArrow.fp-next, #gallery-09 .fp-controlArrow.fp-next,
#gallery-10 .fp-controlArrow.fp-next {
  border-left-color: rgba(11,79,162,1);
}


/* iPhone 4 */
@media only screen and (max-height: 480px) { 
  .intro-text p {
    font-size: 0.8rem;
    line-height: 1.2rem;
    margin: 1rem 0;
  }
}

@media only screen and (max-width: 1199px) { 
  .slide__text {
    width: 60%;
  }
}

/* Tablet Portrait */
@media only screen and (min-width: 600px) { 

}

/* Tablet Landscape */
@media only screen and (min-width: 900px) { 

}

/* Desktop */
@media only screen and (min-width: 1200px) { 
  .mobile-only {
    display: none;
  }

  .mobile-hide {
    display: block;
  }

  .share-nav {
    left: 10px;
    padding: 15px 10px;
  }

  .menu-item, .menu-open-button {
    top: 65px;
  }

  .volume--off {
    top: 15px;
    right: 20px;
  }

  .volume--up {
    top: 15px;
    right: 13px;
  }

  .intro-title {
    position: absolute;
    top: 50px;
    left: calc(50% - 63px);
    color: #fff;
    font-weight: 300;
  }

  .intro-video {
    float: left;
    width: 50%;
  }

  .intro-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    right: 0;
    float: left;
    width: 50%;
    transform: none;
    padding: 0;
    padding-right: 30px;
  }

  .intro-text p {
    font-size: 1.6rem;
    line-height: 1.8rem;
  }

  .painting-intro .fp-tableCell p {
    font-size: 1rem;
    line-height: 1.2rem;
  }

  .notice-container {
    width: 600px;
  }

  .notice-button {
    text-align: right;
  }

  .notice-button > button {
    width: auto;
    padding: 0.5em 1em;
    margin-left: 1em;
  }

  .gallery-600h {
    height: 600px;
  }

  #gallery-01 .fp-slide {
    top: calc(50% - 300px);
  }

  .gallery-564h {
    height: 564px;
  }

  #gallery-02 .fp-slide {
    top: calc(50% - 282px);
  }

  .gallery-700h {
    height: 700px;
  }

  #gallery-03 .fp-slide, #gallery-04 .fp-slide,
  #gallery-05 .fp-slide, #gallery-06 .fp-slide,
  #gallery-07 .fp-slide, #gallery-08 .fp-slide {
    top: calc(50% - 350px);
  }

  .gallery-800h {
    height: 800px;
  }

  #gallery-09 .fp-slide, #gallery-10 .fp-slide,
  #gallery-11 .fp-slide {
    top: calc(50% - 400px);
  }

  .fp-controlArrow.fp-prev {
    left: 20px;
    border-width: 20px 20px 20px 0;
    border-right-color: rgba(255, 255, 255,.7);
  }

  .fp-controlArrow.fp-next {
    right: 20px;
    border-width: 20px 0 20px 20px;
    border-left-color: rgba(255, 255, 255,.7);
  }

  #gallery-08 {
    background-color: #fff;
  }

  #gallery-02 .fp-controlArrow.fp-prev, #gallery-03 .fp-controlArrow.fp-prev, 
  #gallery-09 .fp-controlArrow.fp-prev {
    left: 20px;
  }

  #gallery-02 .fp-controlArrow.fp-next, #gallery-03 .fp-controlArrow.fp-next, 
  #gallery-09 .fp-controlArrow.fp-next {
    right: 20px;
  } 

  #gallery-02 .fp-controlArrow, #gallery-03 .fp-controlArrow, #gallery-09 .fp-controlArrow {
    top: inherit;
    bottom: 50%;
  }

  #gallery-04 .fp-controlArrow.fp-prev, #gallery-07 .fp-controlArrow.fp-prev,
  #gallery-10 .fp-controlArrow.fp-prev {
    border-right-color: rgba(255, 255, 255,.7);
  }

  #gallery-04 .fp-controlArrow.fp-next, #gallery-07 .fp-controlArrow.fp-next,
  #gallery-10 .fp-controlArrow.fp-next {
    border-left-color: rgba(255, 255, 255,.7);
  } 
}

/* Big Desktop */
@media only screen and (min-width: 1800px) { 

}

/* fullpage style */

.fp-tableCell {
  height: 100% !important;
}

.fp-slidesContainer {
  width: 100%!important;
  transform: none!important;
}

.fp-slide {
  width: 100%!important;
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 0;
  transition: all .7s ease-in-out;
}

.fp-slide.active {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

/*.fp-slidesNav {
  left: calc(50% - 25px);
}

.fp-slidesNav.bottom {
  bottom: 1px !important;
}*/

/*#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background-color: #fff;
}*/

 

/* Image */

.painting-01-1 { background-image: url(../image/gallery-01/painting-01-1.jpg); }
.painting-01-2 { background-image: url(../image/gallery-01/painting-01-2.jpg); }
.painting-01-3 { background-image: url(../image/gallery-01/painting-01-3.jpg); }
.painting-01-4 { background-image: url(../image/gallery-01/painting-01-4.jpg); }
.painting-01-5 { background-image: url(../image/gallery-01/painting-01-5.jpg); }
.painting-01-6 { background-image: url(../image/gallery-01/painting-01-6.jpg); }
.painting-01-7 { background-image: url(../image/gallery-01/painting-01-7.jpg); }
.painting-01-8 { background-image: url(../image/gallery-01/painting-01-8.jpg); }

.painting-02-1-1 { background-image: url(../image/gallery-02/painting-02-1-1.jpg); }
.painting-02-1-2 { background-image: url(../image/gallery-02/painting-02-1-2.jpg); }
.painting-02-2-1 { background-image: url(../image/gallery-02/painting-02-2-1.jpg); }
.painting-02-2-2 { background-image: url(../image/gallery-02/painting-02-2-2.jpg); }
.painting-02-3-1 { background-image: url(../image/gallery-02/painting-02-3-1.jpg); }
.painting-02-3-2 { background-image: url(../image/gallery-02/painting-02-3-2.jpg); }
.painting-02-4-1 { background-image: url(../image/gallery-02/painting-02-4-1.jpg); }
.painting-02-4-2 { background-image: url(../image/gallery-02/painting-02-4-2.jpg); }
.painting-02-5-1 { background-image: url(../image/gallery-02/painting-02-5-1.jpg); }
.painting-02-5-2 { background-image: url(../image/gallery-02/painting-02-5-2.jpg); }
.painting-02-6-1 { background-image: url(../image/gallery-02/painting-02-6-1.jpg); }
.painting-02-6-2 { background-image: url(../image/gallery-02/painting-02-6-2.jpg); }
.painting-02-7-1 { background-image: url(../image/gallery-02/painting-02-7-1.jpg); }
.painting-02-7-2 { background-image: url(../image/gallery-02/painting-02-7-2.jpg); }
.painting-02-8-1 { background-image: url(../image/gallery-02/painting-02-8-1.jpg); }
.painting-02-8-2 { background-image: url(../image/gallery-02/painting-02-8-2.jpg); }
.painting-02-9-1 { background-image: url(../image/gallery-02/painting-02-9-1.jpg); }
.painting-02-9-2 { background-image: url(../image/gallery-02/painting-02-9-2.jpg); }

.painting-03-1 { background-image: url(../image/gallery-03/painting-03-1.jpg); }
.painting-03-2 { background-image: url(../image/gallery-03/painting-03-2.jpg); }
.painting-03-3 { background-image: url(../image/gallery-03/painting-03-3.jpg); }
.painting-03-4 { background-image: url(../image/gallery-03/painting-03-4.jpg); }

.painting-04-1 { background-image: url(../image/gallery-04/painting-04-1.jpg); }
.painting-04-2 { background-image: url(../image/gallery-04/painting-04-2.jpg); }
.painting-04-3 { background-image: url(../image/gallery-04/painting-04-3.jpg); }
.painting-04-4 { background-image: url(../image/gallery-04/painting-04-4.jpg); }
.painting-04-5 { background-image: url(../image/gallery-04/painting-04-5.jpg); }
.painting-04-6 { background-image: url(../image/gallery-04/painting-04-6.jpg); }
.painting-04-7 { background-image: url(../image/gallery-04/painting-04-7.jpg); }

.painting-05-1 { background-image: url(../image/gallery-05/painting-05-1.jpg); }
.painting-05-2 { background-image: url(../image/gallery-05/painting-05-2.jpg); }
.painting-05-3 { background-image: url(../image/gallery-05/painting-05-3.jpg); }
.painting-05-4 { background-image: url(../image/gallery-05/painting-05-4.jpg); }
.painting-05-5 { background-image: url(../image/gallery-05/painting-05-5.jpg); }
.painting-05-6 { background-image: url(../image/gallery-05/painting-05-6.jpg); }
.painting-05-7 { background-image: url(../image/gallery-05/painting-05-7.jpg); }
.painting-05-8 { background-image: url(../image/gallery-05/painting-05-8.jpg); }
.painting-05-9 { background-image: url(../image/gallery-05/painting-05-9.jpg); }

.painting-06-1 { background-image: url(../image/gallery-06/painting-06-1.jpg); }
.painting-06-2 { background-image: url(../image/gallery-06/painting-06-2.jpg); }
.painting-06-3 { background-image: url(../image/gallery-06/painting-06-3.jpg); }
.painting-06-4 { background-image: url(../image/gallery-06/painting-06-4.jpg); }
.painting-06-5 { background-image: url(../image/gallery-06/painting-06-5.jpg); }
.painting-06-6 { background-image: url(../image/gallery-06/painting-06-6.jpg); }
.painting-06-7 { background-image: url(../image/gallery-06/painting-06-7.jpg); }
.painting-06-8 { background-image: url(../image/gallery-06/painting-06-8.jpg); }
.painting-06-9 { background-image: url(../image/gallery-06/painting-06-9.jpg); }
.painting-06-10 { background-image: url(../image/gallery-06/painting-06-10.jpg); }
.painting-06-11 { background-image: url(../image/gallery-06/painting-06-11.jpg); }
.painting-06-12 { background-image: url(../image/gallery-06/painting-06-12.jpg); }

.painting-07-1 { background-image: url(../image/gallery-07/painting-07-1.jpg); }
.painting-07-2 { background-image: url(../image/gallery-07/painting-07-2.jpg); }
.painting-07-3 { background-image: url(../image/gallery-07/painting-07-3.jpg); }
.painting-07-4 { background-image: url(../image/gallery-07/painting-07-4.jpg); }
.painting-07-5 { background-image: url(../image/gallery-07/painting-07-5.jpg); }
.painting-07-6 { background-image: url(../image/gallery-07/painting-07-6.jpg); }
.painting-07-7 { background-image: url(../image/gallery-07/painting-07-7.jpg); }
.painting-07-8 { background-image: url(../image/gallery-07/painting-07-8.jpg); }

.painting-08-1-1 { background-image: url(../image/gallery-08/painting-08-1-1.jpg); }
.painting-08-1-2 { background-image: url(../image/gallery-08/painting-08-1-2.jpg); }
.painting-08-2-1 { background-image: url(../image/gallery-08/painting-08-2-1.jpg); }
.painting-08-2-2 { background-image: url(../image/gallery-08/painting-08-2-2.jpg); }
.painting-08-3-1 { background-image: url(../image/gallery-08/painting-08-3-1.jpg); }
.painting-08-3-2 { background-image: url(../image/gallery-08/painting-08-3-2.jpg); }
.painting-08-4-1 { background-image: url(../image/gallery-08/painting-08-4-1.jpg); }
.painting-08-4-2 { background-image: url(../image/gallery-08/painting-08-4-2.jpg); }
.painting-08-5-1 { background-image: url(../image/gallery-08/painting-08-5-1.jpg); }
.painting-08-5-2 { background-image: url(../image/gallery-08/painting-08-5-2.jpg); }
.painting-08-6-1 { background-image: url(../image/gallery-08/painting-08-6-1.jpg); }
.painting-08-6-2 { background-image: url(../image/gallery-08/painting-08-6-2.jpg); }
.painting-08-7-1 { background-image: url(../image/gallery-08/painting-08-7-1.jpg); }
.painting-08-7-2 { background-image: url(../image/gallery-08/painting-08-7-2.jpg); }
.painting-08-8-1 { background-image: url(../image/gallery-08/painting-08-8-1.jpg); }
.painting-08-8-2 { background-image: url(../image/gallery-08/painting-08-8-2.jpg); }

.painting-09-1 { background-image: url(../image/gallery-09/painting-09-1.jpg); }
.painting-09-2 { background-image: url(../image/gallery-09/painting-09-2.jpg); }
.painting-09-3 { background-image: url(../image/gallery-09/painting-09-3.jpg); }
.painting-09-4 { background-image: url(../image/gallery-09/painting-09-4.jpg); }
.painting-09-5 { background-image: url(../image/gallery-09/painting-09-5.jpg); }
.painting-09-6 { background-image: url(../image/gallery-09/painting-09-6.jpg); }
.painting-09-7 { background-image: url(../image/gallery-09/painting-09-7.jpg); }
.painting-09-8 { background-image: url(../image/gallery-09/painting-09-8.jpg); }
.painting-09-9 { background-image: url(../image/gallery-09/painting-09-9.jpg); }
.painting-09-10 { background-image: url(../image/gallery-09/painting-09-10.jpg); }
.painting-09-11 { background-image: url(../image/gallery-09/painting-09-11.jpg); }

.painting-10-1 { background-image: url(../image/gallery-10/painting-10-1.jpg); }
.painting-10-2 { background-image: url(../image/gallery-10/painting-10-2.jpg); }
.painting-10-3 { background-image: url(../image/gallery-10/painting-10-3.jpg); }
.painting-10-4 { background-image: url(../image/gallery-10/painting-10-4.jpg); }
.painting-10-5 { background-image: url(../image/gallery-10/painting-10-5.jpg); }
.painting-10-6 { background-image: url(../image/gallery-10/painting-10-6.jpg); }
.painting-10-7 { background-image: url(../image/gallery-10/painting-10-7.jpg); }
.painting-10-8 { background-image: url(../image/gallery-10/painting-10-8.jpg); }
.painting-10-9 { background-image: url(../image/gallery-10/painting-10-9.jpg); }
.painting-10-10 { background-image: url(../image/gallery-10/painting-10-10.jpg); }

.painting-11-1 { background-image: url(../image/gallery-11/painting-11-1.jpg); }
.painting-11-2 { background-image: url(../image/gallery-11/painting-11-2.jpg); }
.painting-11-3 { background-image: url(../image/gallery-11/painting-11-3.jpg); }
.painting-11-4 { background-image: url(../image/gallery-11/painting-11-4.jpg); }
.painting-11-5 { background-image: url(../image/gallery-11/painting-11-5.jpg); }
.painting-11-6 { background-image: url(../image/gallery-11/painting-11-6.jpg); }
.painting-11-7 { background-image: url(../image/gallery-11/painting-11-7.jpg); }
.painting-11-8 { background-image: url(../image/gallery-11/painting-11-8.jpg); }
.painting-11-9 { background-image: url(../image/gallery-11/painting-11-9.jpg); }
.painting-11-10 { background-image: url(../image/gallery-11/painting-11-10.jpg); }
.painting-11-11 { background-image: url(../image/gallery-11/painting-11-11.jpg); }
.painting-11-12 { background-image: url(../image/gallery-11/painting-11-12.jpg); }

