@font-face {
  font-family: 'fontello';
  src: url('./font/fontello.eot?67277035');
  src: url('./font/fontello.eot?67277035#iefix') format('embedded-opentype'),
       url('./font/fontello.woff?67277035') format('woff'),
       url('./font/fontello.ttf?67277035') format('truetype'),
       url('./font/fontello.svg?67277035#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
.share-icon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: "fontello";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: .2em;
  margin-right: .2em;
  speak: none;
  text-align: center;
  text-transform: none;
  width: 1em;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Noto Sans TC", STHeitiTC-Light, 微軟正黑體, "Microsoft JhengHei", sans-serif;
}

.logo {
    /*border: 1px #FFF solid;*/
    background: url('../img/logo@3x.png') 50% 50% no-repeat;
    background-size: cover;
    height: 40px;
    left: 20px;
    position: fixed;
    top: 20px;
    width: 40px;
    z-index: 90;
}

.logo:hover {
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition-duration: 400ms;
}

.share {
    /*border: 1px #FFF solid;*/
    height: 40px;
    left: 70px;
    overflow: visible;
    position: fixed;
    top: 20px;
    width: 40px;
    z-index: 90;
}

.intro-video-wrapper {
    height: 100%;
    font-size: 0;
    overflow: hidden;
}

.paragraph {
    width: 60%;
    /*height: 100vh;*/
    background-color: #FFF;
}

.bg {
    position: absolute;
    bottom: 0;
    height: 50vh;
    width:100%;
    background-image: linear-gradient(180deg,transparent,rgba(0,0,0,0.7));
}

.g-story-meta {
    -webkit-font-smoothing: antialiased;
    bottom: 20vh;
    color: #ffffff;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 300;
    left: 20px;
    line-height: 1.5;
    position: absolute;
    text-align: center;
    text-align: center;
    text-shadow: 2.7px 1.3px 3px rgba(0, 0, 0, 0.6);
    top: initial;
    width: calc(100% - 40px);
    z-index: 4;
}

.paragraph {
    margin: 0 20%;
}
.paragraph .video {
    text-align: center;
}
.paragraph iframe {
    max-width: 100%;
}
.paragraph small {
    padding-top: 40px;
    display: block;
    font-family: 'STHeitiTC-Light';
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #999999;
}
.paragraph h2.quote {
    text-align: left;
    display: inline-block;
    color: #2D4EA0;
    padding: 0px 40px;
    position: relative;
}
.paragraph h2.quote:before {
  content: '　';
  background: url('../img/quote-left.png') 50% 50% no-repeat;
  background-size: 20px;
  font-size: 45px;
  position: absolute;
  top: -20px;
  left: 0;
}
.paragraph h2.quote:after {
  content: '　';
  background: url('../img/quote-right.png') 50% 50% no-repeat;
  background-size: 20px;
  font-size: 45px;
  vertical-align: top;
  position: absolute;
  top: -15px;
  right: 0;
}
.paragraph .profile h2 {
    text-align: left;
    /*display: inline-block;*/
    color: #2D4EA0;
    border-left: 6px solid #2D4EA0;
    padding-left: 15px;
}
.paragraph p {
    padding: 10px 0;
    font-family: 'STHeitiTC-Light';
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.0;
    text-align: left;
    color: #000000;
}
.paragraph p.brief {
    color: #2D4EA0;
}

.paragraph .img-wrapper {
    text-align: center;
    width: 100%;
}

.paragraph .img-wrapper span {
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 15px;
    /*text-align: left;*/
    display: block;
}

.paragraph .img-wrapper img {
    text-align: center;
    width: 100%;
    max-width: 1076px;
}

.paragraph .img-wrapper img.half {
    width: 49%;
}

.footer-menu {
    background-color: rgba(48,80,158, 0.8);
    bottom: -100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 24px;
    height: auto;
    position: fixed;
    transform: translateY(0px);
    transition: transform 1200ms;
    width: 100%;
}

.active .footer-menu {
    transform: translateY(-100vh);
}

.footer {
    background-color: #CDCDCD;
    margin-top: 50px;
    height: 120px;
}

.footer-menu .col {
    flex: 1;
    width: 33%;
    padding: 40px;
}

.footer-menu a {
    text-decoration: none;
}

.related {
    background-color: #FFF;
    box-shadow: 4.3px 2.5px 10px 0 rgba(0, 0, 0, 0.4);
    flex: initial;
    height: 40vh;
    margin: 0;
    max-height: 360px;
    min-width: 300px;
    width: 100%;
}

.related-image {
    width: 100%;
    height: 80%;
}

.related-title {
    align-items: center;
    color: #000000;
    display: flex;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    height: 20%;
    justify-content: center;
    padding: 0 20px;
    text-align: left;
    line-height: 1.3;
}

.credit {
    color: #ffffff;
    flex: initial;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 500;
    height: auto;
    line-height: 1.5;
    min-width: 200px;
    text-align: left;
    text-shadow: 0.9px 0.5px 0 rgba(0, 0, 0, 0.8);
    width: 300px;
}

.profile {
    margin-top: 20px;
    background-color: #e6e6e6;
    padding: 20px;
}

.main-cover {
    background: url('../img/main.jpg') 50% 50% no-repeat;
    background-size: cover;
}

/* Mobile Only */
@media screen and (max-width:767px) {
    .logo, .share {
        top: 15px;
    }
    .footer-menu .col {
        min-width: initial;
        padding: 10px;
    }
    .related {
        width: initial;
        min-width: initial;
    }
    .related-image {
        height: 70%;
    }
    .related-title {
        height: 30%;
        font-size: 14px;
    }
    .credit {
        font-size: 18px;
        width: initial;
    }

    .main-cover {
        background: url('../img/main.jpg') 65% 50% no-repeat;
        background-size: cover;
    }

    .g-story-meta {
        bottom: 10vh;
    }

    .g-story-meta h1 {
        font-size: 24px;
    }

    .paragraph .img-wrapper img.half {
        width: 100%;
    }

    .paragraph {
        width: 80%;
        margin: 0 10%;
    }
}

/* Mobile Portrait */
@media only screen and (min-device-width : 300px) and (max-device-width : 667px) and (orientation: portrait) {
    .footer-menu {
        flex-direction: column;
    }
    .footer-menu .col {
        width: initial;
    }
    .related {
        height: 120px;
    }
    .related-image {
        display: inline-block;
        height: 120px;
        width: 50%;
    }
    .related-title {
        height: 120px;
        width: 40%;
        float: right;
        padding: 0 5%;
    }
    .credit {
        font-size: 18px;
    }

    .walk .video .title, .walk .video .info {
        display: none;
    }
}