html
  margin 0
  padding 0
  font-size 16px
  font-family Noto Sans TC,Avenir,Helvetica,Arial,sans-serif
  width 100%
  overflow-x hidden
body
  margin 0
  padding 0
  font-size 16px
  font-family Noto Sans TC,Avenir,Helvetica,Arial,sans-serif
  overflow-x hidden
  width 100%

  .leading
    height 0
    padding 0
    footer
      display none

  > .hamburg
    display none

  header
    position fixed
    top 0
    left 0
    z-index 9999
    height 50px
    width 100vw
    background-color #323337   
    transition all 0.5s ease

    .nav
      position relative
      height 100%
      width 100%

      > .athletes
        border-top 1px solid rgba(255, 255, 255, 0.5)
        position absolute
        right 0
        bottom 0
        height 170px
        width 100%
        display flex
        align-items flex-end
        justify-content flex-end
        transition all 0.5s ease
        will-change transition

        > .credit
          display flex
          flex-direction column
          align-items center
          justify-content flex-end
          padding-bottom 15px
          border-bottom 1px solid rgba(255,255,255,0.05)

          position absolute
          height calc(161px - 15px - 1px)
          width 336px
          top -161px
          left 50%
          margin-left -168px
          background-image url(../assets/images/triangle.png)
          background-position center center
          background-repeat no-repeat
          background-size contain
          > span
            display block
            color rgba(255,255,255, 0.8)
            font-size 0.9rem

        > a
          margin 0 20px
          position relative
          text-align center
          width 100px
          height 50px
          display flex
          align-items center
          justify-content center
          padding-top 10px

          &::before
            content ''
            height 100px
            width 100px
            background-position center left
            background-size contain
            background-repeat no-repeat
            position absolute
            top -100px
            left 0
            padding 0 20px 0 0
            

          &:not(:first-child)
            &::before
              background-position center center
              padding 0 20px
              left -20px

          &.chen-shi-jie
            &:before
              background-image url(../assets/images/chen-shi-jie-sq.jpg)
          &.chen-jie
            &:before
              background-image url(../assets/images/chen-jie-sq.jpg)
          &.gong-yun
            &:before
              background-image url(../assets/images/gong-yun-sq.jpg)
          &.chen-wan-ting
            &:before
              background-image url(../assets/images/chen-wan-ting-sq.jpg)
          &.chen-yan-yu
            &:before
              background-image url(../assets/images/chen-yan-yu-sq.jpg)
          &.huang-shi-feng
            &:before
              background-image url(../assets/images/huang-shi-feng-sq.jpg)
          &.cheng-yi-jing
            &:before
              background-image url(../assets/images/cheng-yi-jing-sq.jpg)

      

  > .introduction
    width 100%
    height 80vh
    background-position center 0
    background-repeat no-repeat
    background-size cover
    position relative
    margin-bottom -60px
    margin-top 50px
    // display flex
    // align-content center

    > .title
      height 80%
      width 400px
      background-position center
      background-size contain
      background-repeat no-repeat
      position absolute
      z-index 2
      left 20px
      top 20px

    &::before
      content ''
      width 0
      height 0
      border-style solid
      border-width 10vh 50vw 10vh 50vw
      border-color: #fff transparent transparent #fff
      position absolute
      top 0
      left 0
      display block
      z-index 1

    &::after
      content ''
      width 0
      height 0
      border-style solid
      border-width 10vh 50vw 10vh 50vw
      border-color: transparent transparent #fff #fff
      position absolute
      bottom 0
      left 0
      display block
      z-index 1

  main
    width 70%
    max-width 850px
    margin 0 auto
    position relative
    z-index 2

    > .basic-info
      display flex
      align-items center
      > .thumbtail
        width 300px
        display inline-flex
        flex-direction column
        // align-items center     
        margin-right 2rem
        > img
          width 100%
        > span
          position relative
          font-size 1rem
          padding-top 1rem
          padding-left 1.2rem
          // padding-right 1rem
          padding-bottom 1rem
          margin 0 auto

          &:before
            content ''
            width 0
            height 0
            border-style solid
            border-width 0 0.5rem 1rem 0.5rem
            border-color: transparent transparent #000 transparent
            position absolute
            top 1.2rem
            left 0
            display block
            z-index 1 
      > .content
        display inline-block
        > .title
          margin-bottom 5px
          > span
            background-color #33448e
            height 30px
            width 30px
            display inline-flex
            color #fff
            justify-content center
            align-items center
            font-size 22px
            border-radius 50%
        > .info
          &:not(:last-child)
            border-bottom 1px solid rgba(0, 0, 0, 0.15)        
          padding 5px 0
          > .content
            color rgba(0, 0, 0, 0.4)
            padding-left 10px

    > .brief
      > h1  
        font-size 2.5rem
    > section
      margin-top 2rem
      > h2
        font-size 1.5rem
        font-weight normal
        color #e74c42

    p
      margin 2rem 0

  .facebook-comment
    width 70vw
    max-width 850px
    margin 30px auto 0
    background-color #fff
    padding 20px
    > .talk
      > h2
        font-size 1.5rem
        color #000
    
      
  footer
    min-height 10vh
    background-color #323337
    padding-top 10vh
    padding-bottom 20px
    // padding-bottom 165px
    position relative
    > .credit
      width calc(100% - 20px - 20px)
      padding 20px
      color rgba(255, 255, 255, 0.5)
      &::before
        content ''
        position relative
        width 400px
        border-top 1px solid rgba(255, 255, 255, 0.5)
        margin 0 auto 20px
        display block

      > span
        display block
        font-size 0.8rem
        margin 4px auto
        width 400px
        text-align center
    > .athletes
      width 70%
      max-width 850px
      margin 0 auto
      display flex
      justify-content center
      > a
        display block
        // flex 1
        width 130px
        text-align center
        padding-top 100px
        position relative

        &:before
          content ''
          background-position center center
          background-size contain
          background-repeat no-repeat
          width 90px
          height 90px
          position absolute
          top 0
          left 50%
          margin-left -45px

        &.gong-yun
          &:before
            background-image url(../assets/images/gong-yun.png)
        &.cheng-yi-jing
          &:before
            background-image url(../assets/images/cheng-yi-jing.png)
        &.huang-shi-feng
          &:before
            background-image url(../assets/images/huang-shi-feng.png)
        &.chen-wan-ting
          &:before
            background-image url(../assets/images/chen-wan-ting.png)
        &.chen-jie
          &:before
            background-image url(../assets/images/chen-jie.png)
        &.chen-yan-yu
          &:before
            background-image url(../assets/images/chen-yan-yu.png)
        &.chen-shi-jie
          &:before
            background-image url(../assets/images/chen-shi-jie.png)


    &:before
      content ''
      width 0
      height 0
      border-style solid
      border-width 5vh 50vw 5vh 50vw
      border-color: #fff #fff transparent transparent
      position absolute
      top 0
      left 0
      display block
      z-index 1
      margin-top -1px

  aside
    display none


  &.homepage
    > .leading
      height calc(100vh - 300px)
      padding-bottom 300px
      background-image url(../assets/images/title-web.png)
      background-position 0 0
      background-size cover
      background-repeat no-repeat
      background-color #323337
      > .title
        display none

      > .content
        right 0
        padding 80px 50px 0 calc(100vw - 80px - 700px)
        text-shadow 1px 1px 10px rgba(0, 0, 0, 0.8)
        width 700px 

        position absolute
        color rgba(255, 255, 255, 0.82)
        font-weight normal
        line-height 2rem  

        height 500px
        overflow hidden
        > .introduction
          position relative
          > .share
            position absolute
            top -45px
            left 0
            height 45px
        > .credit
          display none

    header
      top auto
      bottom -50px

      > .nav
        > .athletes
          > a
            &:hover
              &::after
                content ''
                height 100px
                width 100px
                background-color rgba(0, 0, 0, 0.7)
                background-size contain
                position absolute
                top -100px
                left 0
                // padding 0 20px 0 0
                display flex
                justify-content center
                align-items center
                
              &.chen-shi-jie
                &::after
                  content '陳士杰'
              &.chen-jie
                &::after
                  content '陳傑'
              &.gong-yun
                &::after
                  content '龔芸'
              &.chen-yan-yu
                &::after
                  content '陳晏宇'
        > .credit
          > .athletes
            display none


  &.chen-wan-ting
    > .introduction
      background-image url(../assets/images/bg1.jpg)
      & > .title
        background-image url(../assets/images/gp.png)
  &.chen-shi-jie
    > .introduction
      background-image url(../assets/images/chen-shi-jie/bg-wieghtlifting.jpg)
      & > .title
        background-image url(../assets/images/chen-shi-jie/title.png)
      &:before
        content none
    main
      > section
        > h2, h3
          color #33448e
  &.chen-jie
    > .introduction
      background-image url(../assets/images/chen-jie/bg.jpg)
      & > .title
        background-image url(../assets/images/chen-jie/title.png)
      &:before
        content none
    main
      > section
        > h2, h3
          color #ce3674
  &.chen-yan-yu
    > .introduction
      background-image url(../assets/images/chen-yan-yu/bg.jpg)
      & > .title
        background-image url(../assets/images/chen-yan-yu/title.png)
      &:before
        content none
    main
      > section
        > h2, h3
          color #0568ff
  &.gong-yun
    > .introduction
      background-image url(../assets/images/gong-yun/bg.jpg)
      & > .title
        background-image url(../assets/images/gong-yun/title.png)
        left auto
        right 10%
        top 0
      &:before
        content none
    main
      > section
        > h2, h3
          color #e02d4b

a
  text-decoration none
  &, &:hover, &:link, &:visited
    color #fff

.mirrormedia
  background-image url(../assets/icons/mirrormedia.png)
  background-repeat no-repeat
  background-size contain
  background-position center center
  position absolute
  left 9px
  bottom 9px
  height 35px
  width 35px
  z-index 10

.nav--btnset
  position absolute
  bottom 9px
  left 44px
  z-index 10
  width 35px
  height 35px

  div
    position absolute
    border-radius 50%
    transition all .1s ease-out
    cursor pointer
    display flex
    justify-content center
    align-items center
    width 35px
    height 35px
    left 9px
    top 0
    > a
      background-repeat no-repeat
      display block
      width 100%
      height 100%
      cursor pointer

    &.share
      top 0
      z-index 20
      background-image url(../assets/icons/share.png)
      background-position center center
      background-size contain
      background-repeat no-repeat
    
    &.facebook
      background-color #2068b2
      -webkit-transition-delay 50ms
      transition-delay 20ms
      z-index 19
      > a
        background-image url(../assets/icons/facebook_white.png)
        background-size 40% auto
        background-position center center      
      
    &.line
      background-color #20b22c   
      -webkit-transition-delay 75ms
      transition-delay 40ms
      z-index 18
      > a
        background-image url(../assets/icons/line_white.png)
        background-size 75% auto
        background-position center center   

    &.g-plus
      background-color #c00   
      -webkit-transition-delay 75ms
      transition-delay 40ms
      z-index 17
      > a
        background-image url(../assets/icons/google-plus.png)
        background-size 60% auto
        background-position center center

    &:active:not(:first-child), &:focus:not(:first-child), &:hover:not(:first-child)
      box-shadow inset 0 0 4px rgba(0,0,0,.7), 0 4px 8px rgba(0,0,0,.7)
      
    &:not(:first-child)
      position absolute
      opacity 0

  &:hover 
    width 167px
    > div:not(:first-child)
      position absolute
      opacity 1
      margin-left 9px
      &.facebook
        left 44px
      &.line
        left 88px
      &.g-plus
        left 132px


@media screen and (min-width: 0) and (max-width: 768px)
  body
    font-size 16px

    > .hamburg
      display block
      background-image url(../assets/icons/menu.png)
      background-position center center
      background-repeat no-repeat
      background-size contain
      height 35px
      width 35px
      position fixed
      right 9px
      top 8px
      z-index 9999
      transition all 0.5s ease

      &.active
        transform rotate(90deg)

    header
      z-index 9997
      > .nav
        > .athletes
          display none

    > .introduction
      background-position 40% 0
      background-size cover
      height 50vh
      margin-bottom 0
      &::after
        bottom -1px

      > .title
        width 220px
        height 100%
        left 10px
        top 50%
        margin-top -30%
    main
      margin-top 40px
      width 85%
      > .basic-info
        flex-direction column-reverse
        > .content
          > .info
            display flex
            span
              &.name
                flex 3
              &.content
                flex 5

        > .thumbtail
          margin-right 0
          width 100vw
          margin-top 20px
          &::before
            content ''
            position relative
            width 100vw
            height 240px
            background-position center center
            background-size cover
            background-repeat no-repeat
            // padding-top 240px
          > img
            display none
          // > span


      > .brief
        > h1
          line-height 2.8rem

    footer
      overflow hidden
      > .credit
        > span
          width 100%
        &::before
          width 100%
      > .athletes
        flex-wrap wrap
        width 100%
        margin-top -165px
        justify-content flex-start
        padding-top 115px

        > a
          padding-top 165px
          font-size 1.2rem
          width 50%
          flex none
          margin-top 50px

          &::before
            width 150px
            height 150px
            margin-left -75px

          &:nth-child(even)
            top: 115px

          &:last-child
            &:not(:nth-child(odd))
              padding-bottom: 115px

    aside
      position fixed
      width 100%
      left 100vw
      top 0
      height 100vh
      overflow scroll
      transition all 0.5s ease
      z-index 9998
      display block
      background-color #000
      will-change left, height
      > .athletes
        > a
          display block
          width calc(100vw - 20px - 20px)
          height calc(25vh - 20px - 20px)
          background-position top center
          background-repeat no-repeat
          background-size cover
          font-size 2rem

          display flex
          align-items flex-start
          justify-content flex-start
          padding 20px

          &.chen-shi-jie
            background-image url(../assets/images/chen-shi-jie-sq.jpg)
          &.chen-jie
            background-image url(../assets/images/chen-jie-sq.jpg)
          &.chen-wan-ting
            background-image url(../assets/images/chen-wan-ting-sq.jpg)
          &.chen-yan-yu
            background-image url(../assets/images/chen-yan-yu-sq.jpg)
          &.cheng-yi-jing
            background-image url(../assets/images/cheng-yi-jing-sq.jpg)
          &.huang-shi-feng
            background-image url(../assets/images/huang-shi-feng-sq.jpg)
          &.gong-yun
            background-image url(../assets/images/gong-yun-sq.jpg)
          
          &:nth-child(even)
            justify-content flex-end

    &.homepage
      header
        top 0
        bottom auto
        background-color transparent
      > .leading
        background-image none
        background-color #fff
        height auto
        padding-bottom 0

        > .title
          background-image url(../assets/images/mobile-cover.jpg)
          background-size cover
          background-position center center
          background-repeat no-repeat
          content ''
          position relative
          height 100vh
          width 100vw
          display block

          &::before
            content ''
            background-position center center
            background-size contain
            background-repeat no-repeat
            background-image url(../assets/images/title-mobile.png)
            position absolute
            bottom 5%
            left 0
            width 90%
            height 80%

          &::after
            content ''
            width 0
            height 0
            border-style solid
            border-width 5vh 50vw 5vh 50vw
            border-color: transparent #fff #fff transparent
            position absolute
            bottom 0
            left 0
            display block
            z-index 1   
            margin-bottom -1px

        > .content
          color #000
          text-shadow none
          position relative
          width 80vw
          margin 20px auto
          line-height 2rem
          height auto
          overflow initial
          padding 0
          font-size 1.2rem
          > .credit
            display block
            font-size 0.9rem
            > span
              display block  
              line-height 1.2rem       
        > footer
          display block
          overflow hidden
    &.chen-shi-jie
      main
        > .basic-info
          > .thumbtail
            &::before
              background-image url(../assets/images/chen-shi-jie/personalpic.jpg)
        > section
           > h2
            color #33448e
   &.chen-jie
      main
        > .basic-info
          > .thumbtail
            &::before
              background-image url(../assets/images/chen-jie/personalmobile.jpg)
        > section
           > h2
            color #33448e
    &.chen-yan-yu
      main
        > .basic-info
          > .thumbtail
            &::before
              background-image url(../assets/images/chen-yan-yu/personal-mobile.jpg)
        > section
           > h2
            color #33448e  
    &.gong-yun
      > .introduction
        > .title
          top 25% !important
      main
        margin-top -50px
        > .basic-info
          > .thumbtail
            &::before
              background-image url(../assets/images/gong-yun/personal-mobile.jpg)
        > section
           > h2
            color #33448e            

@media screen and (min-width: 400px) and (max-width: 768px)
  body
    main
      margin-top 20px

@media screen and (min-width: 460px) and (max-width: 768px)
  body
    > .introduction
      > .title
        margin-top -25%
    main
      > .basic-info
        > .thumbtail
          &::before
            height 300px
    footer
      > .athletes
        width 70%
@media screen and (min-width: 550px) and (max-width: 768px)
  body
    > .introduction
      > .title
        margin-top -20%
    main
      > .basic-info
        > .thumbtail
          &::before
            height 390px        
@media screen and (min-width: 650px) and (max-width: 768px)
  body
    > .introduction
      height 60vh
      > .title
        left 10%
        width 280px 
    main
      > .basic-info
        > .thumbtail
          &::before
            width 80vw
            margin 0 auto         
    footer
      > .athletes
        width 60%    
@media screen and (min-width: 769px) and (max-width: 1120px)
  body
    > .leading
      > .content
        width 400px
        line-height 1.5rem
        font-size 0.9rem
    &.homepage
      header
        > .nav
          > .athletes
            > a
              &:hover
                &::after
                  width 65px
                  height 65px
                  top -65px
    header
      > .nav
        > .athletes
          height 130px
          > a
            width 65px
            font-size 0.65rem
            margin 0 10px

            &:before
              height 60px
              width 60px
              top -60px
              padding 0 15px 0 0

            &:not(:first-child)
              &::before
                padding 0 13px
                left -10px

@media screen and (min-width: 769px) and (max-width: 900px)
  body
   footer
    > .athletes
      width 75%

@media screen and (min-width: 900px) and (max-width: 1120px)
  body
    &.homepage
      header
        > .nav
          > .athletes
            > a
              &:hover
                &::after
                  width 80px
                  height 80px
                  top -80px
    header
      > .nav
        > .athletes
          height 155px
          > a
            width 80px
            font-size 0.8rem
            &:before
              height 80px
              width 70px
              top -80px
              padding 0 20px 0 0

            &:not(:first-child)
              &::before
                padding 0 15px

@media screen and (min-width: 767px) and (max-width: 1300px)
  body
    &.homepage
      > .leading
        > .content
          padding 80px 50px 0 calc(100vw - 80px - 50vw)
          width 50vw
