$bp-tablet-small = 768px
$bp-tablet-large = 960px
$bp-desktop-small = 1200px
$bp-desktop-medium = 1440px
$bp-desktop-large = 1680px

$ff-serif = "Noto Serif", "PT Serif", source-han-serif-tc, "Songti TC", serif
$ff-sans-serif = -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "PingFang TC", "Noto Sans CJK TC", "Noto Sans CJK", "Source Han Sans", "Hiragino Sans GB", "Microsoft JhengHei", sans-serif