html, body {
  background-color: #F5F4F5;
  font-family: 'Noto Sans TC','Apple LiGothic Medium',STHeiti,'微軟正黑體','Microsoft JhengHei',sans-serif;
}

.content {
  padding: 2px;
  box-shadow:inset -30px 0 960px -30px rgba(0,0,0,.25);
  border: 1px solid #CCC;
}

.content h1.header {
  padding: 30px 0;
}

.progress {
  position:absolute; 
  left: 0; 
  width:150px; 
  height:15px; 
  border-radius: 5px; 
  background-color: #FFF;
  text-align: right;
  overflow: hidden;
}

.progress.right {
  left: auto;
  right: 0;
  text-align: left;
}

.progress .bar {
  width:50%; 
  height:15px; 
  border-radius: 5px; 
  background-color: #3636FA; 
  left: 0; 
  position: absolute; 
  transition: width 1s ease-in-out;
  color: #FFF;
  line-height: 15px;
  padding: 2px 5px;
  font-size: 12px;
}

.progress.right .bar {
  width:50%; 
  height:15px; 
  border-radius: 5px; 
  background-color: #DC3636; 
  left: auto;
  right: 0; 
  position: absolute; 
  transition: width 1s ease-in-out;
}

.article {
  opacity: 0;
}

.article p {
  font-family: "Noto Sans TC", "Apple LiGothic Medium", STHeiti, 微軟正黑體, "Microsoft JhengHei", sans-serif;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.3px;
  color: rgba(0, 0, 0, 0.901961);
}

.question {
  padding: 0 30px;
  height:60px;
}

.option:hover {
    cursor: pointer;
}

.ui.stackable.grid.container {
  height: 80px;
}

.replay {  
  max-width: 300px;
  margin: 20px auto;
  text-align: center;
  color: #FFF;
  padding: 5px;
  display: none;  
}

.replay:hover {
    cursor: pointer;
}

ul {
  padding-left: 5px;
  list-style: none;
  font-family: 'Noto Sans TC', 'Apple LiGothic Medium', STHeiti, '微軟正黑體', 'Microsoft JhengHei', sans-serif;
  font-size: 16px;
  line-height: 2.2;
  letter-spacing: 0.3px;
  color: rgba(0, 0, 0, 0.7);
}
ul li:before {
  content: "• ";
  color: #004ea2;
  font-size:30px;
  line-height: 1;
  top: 6px;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .support {
    display: none;
  }
  .progress {
    bottom: auto !important;
  }
  .figure {
    height: 150px !important;
  }
  .content {
    margin-top: 0px !important;
  }
  .article {
    padding: 0 10px;
  }
  .header.question {
    padding: 0 10px !important;
    height: 80px;
  }
  .ui.stackable.grid.container {
    height: 200px;
  }
}