$color-blue = #9bd8ec
$color-yellow = #ede09f
$color-purple = #ae8abb
$color-lightGray = #f2f2f2
$color-softCyan = #a2dad1
$color-softPink = #ee9dbd
$color-softYellow = #ede09f
$color-orange = #fbb03b

*, *:before, *:after
  box-sizing inherit

html
  box-sizing border-box
  font-size 18px
  font-family "Noto Sans TC", "PingFang TC", Microsoft JhengHei, "Microsoft JhengHei", sans-serif

body, main, section
  width 100%

main
  position relative
  border 5px solid #000

h1, h2, h3, h4
  margin 0

h1
  font-size 3rem

h2
  font-size 1.7rem
  &.notBold
    font-weight normal
h3
  margin-top 0
  font-size 1.5rem
  font-weight normal
h4
  font-size 1.2rem
p
  width 90%
  margin 1em auto
  line-height 1.5
  text-align justify
  &.bold
    font-weight bold
  &:first-of-type
    margin-top 0
  &:last-of-type
    margin-bottom 0
a
  cursor pointer
  text-decoration none
figure
  margin 0

.nav
  position fixed
  top 0
  left 0
  right 0
  z-index 999
  width 100%
  height 60px
  background-color #fff
  border 5px solid #000
  a
    display inline-block
    float left
    width 45px
    height 45px
    margin-top 2.5px
    margin-bottom 2.5px
    background-size 45px 45px
    &.nav__game
      display block
      position absolute
      top -5px
      right -5px
      width 60px
      height 60px
      margin 0
      text-align center
      border 5px solid #000
  &__logo
    margin-left 5px
    margin-right 5px
    background-image url(images/logo.png)
  &__share
    position relative
    z-index 11
    background-image url(images/share.png)
  &__gplus, &__facebook, &__line
    position absolute
    top 2.5px
    left 55px
    z-index 10
    margin 0 !important
    border-radius 50%
    background-position center
    background-repeat no-repeat
    transition-duration .19s
  &__gplus
    background-image url(images/gplus.png)
    background-size 47px !important
    &.open
      transform translate3d(50px,0,0)
  &__facebook
    background-color #3b5998
    background-image url(images/facebook.png)
    background-size 20px !important
    &.open
      transform translate3d(100px,0,0)
  &__line
    background-color #00b900
    background-image url(images/line.png)
    background-size 30px auto !important
    &.open
      transform translate3d(150px,0,0)
  &__game
    img
      width auto
      height 30px
      margin 10px 0
    &--text
      display none
      padding 0 1em
      font-size 12px
      text-align center
  &__game
    background-color $color-orange

.taipeiGeo
  position fixed
  top 60px
  left 0
  right 0
  z-index -1
  width 100%
  height calc(100vh - 65px)
  > div
    width 100%
    height 100%
    max-width 100%
    max-height 100%
  svg
    transform scale(1.5)
  &__info
    position absolute
    bottom 80px
    left 20px
    text-align left
    font-size .9rem
    line-height 1.5

.heading
  position relative
  height calc(100vh - 10px)
  padding-top 55px
  img
    position absolute
    bottom 130px
    left 15px
    width 50%

.infographic
  width 100%
  h2, h3, p
    background-color #fff
  p
    width 100%
    padding 0 5%
    margin-left 0
    margin-right 0
    
  &__brief
    display flex
    flex-direction column
    margin-bottom calc(100vh - 60px)
    background-color #fff
    border-top 5px solid #000
    border-bottom 5px solid #000
    h2
      padding 1em .5em
      background-color $color-softCyan
      border-bottom 2.5px solid #000
    p
      text-align justify
    p:first-of-type
      padding-top 1em
      border-top 2.5px solid #000
    p:last-of-type
      padding-bottom 1em
  &__chart
    position relative
    padding 1em 5%
    text-align center
    background-color #fff
    p
      padding 0
      a
        color $color-orange
        padding-bottom 1px
        border-bottom: 1px solid $color-orange
    h3
      margin .5em 0
      text-align center
    input[type="range"]
      -webkit-appearance none
      appearance none
      width 80%
      height 20px
      margin 0 auto
      background transparent
    
    input[type=range]:focus
      outline none
    input[type=range]::-ms-track
      width 100%
      cursor pointer
      background transparent
      border-color transparent
      color transparent

    input[type=range]::-webkit-slider-thumb
      -webkit-appearance none
      height 20px
      width 20px
      padding 2.5px
      border-radius 15px
      background #ae8abb
      cursor pointer
      margin-top -7px
      pointer-events auto
    input[type=range]::-moz-range-thumb
      height 20px
      width 20px
      padding 2.5px
      border-radius 15px
      background #ae8abb
      cursor pointer
      pointer-events auto
    input[type=range]::-ms-thumb
      height 20px
      width 20px
      padding 2.5px
      border-radius 15px
      background #ae8abb
      cursor pointer
      pointer-events auto

    input[type=range]::-webkit-slider-runnable-track
      width: 100%
      height 4px
      cursor pointer
      background: #fff
      box-shadow 0px 0px 1px #0d0d0d
    input[type="range"]::-moz-range-track
      width: 100%
      height 4px
      cursor pointer
      background: #fff
      border-radius 50%
      box-shadow 0px 0px 1px #e6e6e6
    input[type=range]::-ms-track
      width: 100%
      height 4px
      cursor pointer
      background: #fff
      box-shadow 0px 0px 1px #e6e6e6
    &--bar
      display flex
      justify-content space-between
      p
        margin 0
    &--barInfo
      span
        color $color-purple
        font-size 1.7rem


  &__chartBlock
    position relative
    &:not(:first-of-type)
      margin-top 1em
    p
      font-size 18px
      text-align center
    &--category
      display flex
      justify-content space-between
      flex-wrap wrap
      width 100%
      margin 1em 0
      > div
        width 24%
        padding .2em 0
        color #999
        border 1px solid #999
        cursor pointer
        &.selected
          color #fff
          background-color #999

    &--info
      margin-bottom 1em
      font-size .8rem
      text-align right
      line-height 1.4
    #chart-hotArea
      min-height 1200px
      .highcharts-point:nth-of-type(odd)
        fill $color-softCyan
      .highcharts-point:nth-of-type(even)
        fill $color-purple
    #chart-increase, #chart-easyRent, #chart-gender, #chart-pet, #chart-cook
      min-height 500px
    // #chart-increase
    //   display none
.intro
  border-bottom: 5px solid #000
  background-color #fff
  &__title
    display flex
    font-size 1.7rem
    font-weight bold
    border-top 5px solid #000
    border-bottom 5px solid #000
    &--text
      padding .1em .2em
      border-right 5px solid #000
      background-color $color-softYellow
    &--curtain
      flex-grow 1
      background radial-gradient(circle at 100% 50%, transparent 20%, #000 21%, #000 34%, transparent 35%, transparent),
        radial-gradient(circle at 0% 50%, $color-purple 20%, #000 21%, #000 34%, $color-purple 35%, $color-purple) 0 -22px
      background-size 33px 44px
  &__content
    padding 1em 0
    &--title
      display none
.album
  display none

.story
  background-color #fff
  border-bottom 5px solid #000
  &__title
    display flex
    border-bottom 5px solid #000
    &--text
      max-width 70%
      padding .1em .2em
      font-size 1.7rem
      border-right 5px solid #000
      background-color $color-softYellow
    &--curtain
      flex-grow 1
      background-image radial-gradient(#000 30%, transparent 0), radial-gradient(#000 30%, transparent 0)
      background-size 20px 20px
      background-position: 0 0, 10px 10px
      background-color $color-softCyan
  &__content
    padding-bottom 1em
    figure
      border-top 5px solid #000
      margin-bottom 1em
    figure:first-of-type
      border-top none
    img
      width 100%
      height auto
      border-bottom 5px solid #000
    
    figcaption
      width 90%
      margin 0 auto
      color #999
      font-weight 300
      line-height 1.4
    h3
      width 90%
      margin 0 auto .5em
    
    &::-webkit-scrollbar
      width 5px
    &::-webkit-scrollbar-thumb
      background-color $color-orange
      border-radius 5px
    &::-webkit-scrollbar-track-piece
      background-color rgba(251, 176, 59, .3)
      border-radius 5px
    
.solution
  background-color #fff
  &__container
    width 100%
  &__title
    display flex
    width 100%
    border-bottom 5px solid #000
    > div
      width 50%
    &--text
      padding .8em
      background-color $color-softPink
      border-right 2.5px solid #000
    &--curtain
      background-color $color-softCyan
      border-left 2.5px solid #000
  &__content
    padding 1em 5%
    p
      width 100%
      text-align justify
    img
      width 100%
    figcaption
      font-size .8rem
      text-align right
  &__chartBlock
    position relative
    min-height 400px
    margin-top 1em
    &--info
      margin-bottom 1em
      font-size .8rem
      text-align right
    &--env
      text-align center
  .solutionBlock
    width 100%
    margin-top 1em
    padding 1em
    border 5px solid #000
    &--title
      padding .5em 0
      color #fff
      background-color #4a4a4a
    &__title
      display flex
      h3
        width 50%
        text-align center
    &__ratio
      margin-top .5em
      &--value
        display flex
        margin .5em 0
        h2
          width 50%
          color $color-purple
    &__rank
      margin-top .5em
      &--value
        margin-top .5em
        > div
          display flex
          padding .5em 0
          > div
            width 50%
        > div:not(:last-of-type)
          border-bottom 1px solid #4a4a4a
        p
          display flex
          flex-direction column
          justify-content center
          min-height 48px
          margin 0
          text-align center
        span
          display block
          margin-top .5em
          color $color-softCyan 
.footer
  display flex
  flex-wrap wrap
  background-color #fff
  border 5px solid #000
  border-top none
  &__block
    width 100%
    > a
      display flex
      justify-content center
      align-items center
      padding 1em 0
      img
        width auto
        height 30px
        margin-right 10px
      h4, p
        color #000
      p
        width 100%
        margin 0
  &--game
    background-color $color-orange
    border-bottom 2px solid #000
  &--github
    background-color $color-softCyan
    border-top 2px solid #000
  &__projects
    width 100%
    padding 5% 5%
    background-color #000
    border-bottom 5px solid #000
    > iframe 
      min-height 343px
  &__credit
    width 100%
    padding 1em
    text-align center
    background-color $color-blue
    border-top 5px solid #000
    border-bottom 5px solid #000
    p
      width 100%
      margin 0
      text-align center
  &__comment
    width 100%
    padding 0 5%

@media (min-width: 600px) and (max-width: 899px)
  main
    border-width 20px
    border-bottom-width 10px
  p
    width 70%
  .nav
    height 100px
    padding-left 10px
    border-width 20px
    a
      width 50px
      height 50px
      margin 5px 5px
      background-size 50px 50px
      &.nav__game
        right -20px
        width 100px
        height 100px
      &.nav__game
        top -20px
      
    &__gplus, &__facebook, &__line
      top 5px
      left 75px
    &__gplus
      background-size 52px !important
      &.open
        transform translate3d(60px,0,0)
    &__facebook
      background-size 20px !important
      &.open
        transform translate3d(120px,0,0)
    &__line
      background-size 30px auto !important
      &.open
        transform translate3d(180px,0,0)
    &__game
      img
        height 40px
        margin 20px 0
  .taipeiGeo
    &__info
      bottom 70px
      left 40px
      
  .heading
    &__title
      top 50%
      width 80%
      border-bottom 8px solid #000
      border-width 15px
      div
        width 90%
        margin 0 auto 5%
        background-color transparent
        a
          width calc((100% - 30px) / 3)
          background-color #000
        a:not(:first-of-type):not(:last-of-type)
          margin 0 15px
          border none
  
  .infographic
    &__brief
      h2
        padding-left 5%
        padding-right 5%
    &__chart
      padding-left 15%
      padding-right 15%
  .intro
    &__content
      padding 5% 0 
      
  .album
    border-width 15px
    &__title
      border-width 10px
      &--curtain
        border-width 10px
      &--text
        padding-top 1em
    &__mainPhoto, &__photo2, &__photo3
      border-width 10px
  .story
    border-width 15px
    &__content
      padding 0
      h3
        width 70%
      p:last-of-type
        margin-bottom 5%
      figcaption
        width 70%
  .solution
    &__title
      border-width 10px
      &--text, &--curtain
        border-width 5px
    &__content
      padding 5% 15%
      text-align center
      h3
        text-align left
      img
        width 50%
  .footer
    border-width 20px
    &__block
      > div
        justify-content center
        img
          height 40px
          margin-right 20px
    &--game
      border-bottom-width 5px
    &--github
      border-top-width 5px
    &__credit
      border-top-width 10px
      border-bottom-width 10px
      border-left-width 5px
    &__comment
      padding 5% 10%

@media (min-width: 900px)
  .nav
    a
      &.nav__game
        display flex
        top 20px
        width 90px
        height 90px
      &.nav__game
        right 20px
     
    &__game
      display flex
      flex-direction column
      justify-content center
      align-items center
      img
        height 40px
        margin 0 0 10px
      &--text
        display block
        padding 0
        color #000
  .taipeiGeo
    &__info
      left auto
      right 20px
      text-align right
  .heading
    img
      left 5%
      width auto
      height 50%
    &__title
      bottom 10%
      left 5%
      
      // h2
      //   font-size 5rem
      // h3
      //   font-size 3rem
  .infographic
    width 100%
    &__brief
      h2
        padding 1em 20%
      p
        padding-left 20%
        padding-right 20%
    &__chart
      padding-left 20%
      padding-right 20%
    &__chartBlock
      #chart-increase
        display block
        min-height 400px
  .intro
    position relative
    padding 5% 0
    background-color $color-softCyan
    border-top 5px solid #000
    &__title
      position absolute
      top 0
      left 45%
      right 0
      bottom 0
      width 55%
      height 100%
      border none
      border-left 5px solid #000
      &--text
        display none
      &--curtain
        margin 0 auto 0 0
        background radial-gradient(circle at 100% 50%, transparent 20%, #000 21%, #000 34%, transparent 35%, transparent),
          radial-gradient(circle at 0% 50%, $color-blue 20%, #000 21%, #000 34%, $color-blue 35%, $color-blue) 0 -22px
        background-size 33px 44px
    &__content
      position relative
      // top 50%
      // left 50%
      // transform translate(-50%, -50%)
      width 60%
      margin 0 auto
      // padding-left 30px
      background-color #fff
      border 5px solid #000
      &--title
        display flex
        justify-content center
        align-items center
        position absolute
        top 50%
        left 0
        transform translate(-50%, -50%)
        width 100px
        height 100px
        font-size 1.7rem
        font-weight bold
        background-color $color-softYellow
        border 7px solid #000
  .album
    display flex
    width 100%
    border-bottom 5px solid #000
    background-color #fff
    &__col
      figure
        position relative
        width 100%
        img
          width 100%
          height 100%
          vertical-align top
          object-fit cover
          object-position 50% 50%
        figcaption
          position absolute
          right .4em
          bottom .2em
          color #fff
          font-size 2rem
          font-weight 300
      &--1
        display flex
        flex-direction column
        width 100px
        border-right 2.5px solid #000
      &--2
        display flex
        flex-direction column
        width 60%
        border-left 2.5px solid #000
        border-right 2.5px solid #000
        > div
          flex-grow 1
          display flex
      &--3
        width calc(100% - 60% - 100px)
        border-left 2.5px solid #000
    &__mainPhoto
      border-bottom 5px solid #000
    &__photo2
      width 60% !important
      border-left 2.5px solid #000
      cursor pointer
    &__photo3
      border-bottom 2.5px solid #000
      cursor pointer
    &__photo4
      border-top 2.5px solid #000
      border-bottom 2.5px solid #000
      cursor pointer
    &__line
      width 100%
      height 100px
      background-image linear-gradient(-45deg, #fff 62px, #000 63px, #000 68px, #fff 69px, #fff)
      border-bottom 5px solid #000
    &__dot
      flex-grow 1
      background-image radial-gradient(#000 20%, transparent 0), radial-gradient(#000 20%, transparent 0)
      background-size 30px 30px
      background-position 0 0, 15px 15px
      background-color rgba(162, 218, 209, .6)
    &__wave
      width 40%
      border-right 2.5px solid #000
      background radial-gradient(circle at 100% 50%, transparent 22%, #000 28%, #000 29%, transparent 35%, transparent), radial-gradient(circle at 0% 50%, rgba(174, 138, 187, .6) 22%, #000 28%, #000 29%, rgba(174, 138, 187, .6) 35%, rgba(174, 138, 187, .6)) 0 -21px
      background-size 30px 42px
      // background radial-gradient(circle at 100% 50%, transparent 20%, #000 21%, #000 34%, transparent 35%, transparent),
      //   radial-gradient(circle at 0% 50%, $color-purple 20%, #000 21%, #000 34%, $color-purple 35%, $color-purple) 0 -22px
      // background-size 33px 44px
    &__descr
      padding 2em
      border-top 2.5px solid #000
      li
        line-height 2
        list-style-type decimal
        font-family monospace

  .story
    display flex
    &__title
      display flex
      flex-direction column
      width 20%
      background-color $color-yellow
      border-bottom none
      border-right 5px solid #000
      &--text
        max-width 100%
        height 80%
        padding 10%
        border-right none
        border-bottom 5px solid #000
        h2.notBold
          margin-top 1em
      &--curtain
        height 20%
        background-image repeating-linear-gradient(45deg, #000, #000 8px, $color-orange 8px, $color-orange 30px)
        background-size auto
        background-position 0% 0%
    &__content
      width 60%
      height 60vh
      padding 0 1em 0 0
      margin 50px auto
      overflow-y scroll
      figure
        display none
      h3
        margin-top 1em
  .solution
    position relative
    background-color #fff
    &__title
      &--text
        width 100% !important
        text-align center
        background-color $color-softPink
        border-right none
        h2
          display inline
      &--curtain
        display none
    &__content
      padding 5% 20%
      text-align center
      h3
        margin 1em 0
      img
        width 50%
    .solutionBlock
      padding 0
      border none
      margin-bottom .5em
      &__title
        padding-left 20%
        border-bottom 1px solid #4a4a4a
      &__ratio
        display flex
        border-bottom 1px solid #4a4a4a
        &--value
          width 80%
      &__rank
        display flex
        border-bottom 1px solid #4a4a4a
        &--value
          width 80%
          margin 0
          > div
            > div
              display flex
              align-items center
              padding 0 2em
          p
            display inline
            text-align left
            min-height auto
            br
              display none
          span
            margin 0
      &--title
        display flex
        justify-content center
        align-items center
        width 20%
        background-color transparent
        color #000
  .footer
    &__block
      > div
        justify-content center
        img
          height 40px
          margin-right 20px
    &__credit
      background-color $color-purple
    &__comment
      padding 5% 15%


.highcharts-axis-title
  font-size 14px

// CSS Pattern

.bg--square
  background-image linear-gradient(45deg, $color-lightGray 25%, transparent 0), linear-gradient(45deg, transparent 75%, $color-lightGray 0)
  background-size 18px 18px
  background-position: 6px 12px, 15px 21px

.bg--line
  background-image repeating-linear-gradient(45deg, #000, #000 8px, $color-softCyan 8px, $color-softCyan 30px)

.bg--circle
  background-image radial-gradient(#000 30%, transparent 0), radial-gradient(#000 30%, transparent 0)
  background-size 20px 20px
  background-position: 0 0, 10px 10px

.bg--wave
  background radial-gradient(circle at 100% 50%, transparent 20%, #000 21%, #000 34%, transparent 35%, transparent),
    radial-gradient(circle at 0% 50%, $color-softCyan 20%, #000 21%, #000 34%, $color-softCyan 35%, $color-softCyan) 0 -22px
  background-size 33px 44px