@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css)

*, *:before, *:after
  box-sizing inherit
  
html
  box-sizing border-box
  font-size 12px
  font-family "Noto Sans TC", "STHeitiTC-Light", Microsoft JhengHei, "Microsoft JhengHei", sans-serif

body
  margin 0
  padding 0

p, h1, h2, span, a
  margin 0

p
  margin 40px 0
  font-size 20px
  font-weight 300
  line-height 30px
  
h1
  font-size 44px

h2
  margin 36px 0
  font-size 25px
  font-weight 300

a
  cursor pointer
  text-decoration none

.heroImage
  position relative
  display flex
  justify-content center
  align-items center
  width 100%
  padding-top 66.66%
  background-image url('./images/transport-industry-mrt-01.jpg')
  background-position center center
  background-repeat no-repeat
  background-size cover
  &__title
    display none
  

.content
  width 100%
  > article
    width 90%
    margin 0 auto
    span
      margin-right 20px
      font-size 18px
      font-weight 300
      color #808080
    h2
      font-weight normal
    .credit
      margin 1em 0
    .table
      display block
      width 80%
      margin 0 auto
    > p
      text-align justify
      > a
        color #9b005d
        font-weight 500
    > p:nth-child(2)
      margin-top 1em
    > img
      width 100%
    > span
      display block
      margin 0 0 1em
      text-align justify
      line-height 1.5
  &__title
    position relative
    padding 30px 0
    h1, h2
      position relative
      width 90%
      margin 0 auto
      z-index 100
    > img
      position absolute
      top -6px
      left 5%
      z-index 50
      width 80px

.two-column
  width 100%
  > p
    text-align justify
  > img
    width 100%
  > span
    display block
    margin 0 0 1em !important
    line-height 1.5
    text-align justify

.related
  display block
  width 100%
  height 150px
  margin-bottom 50px
  background-color #333
  cursor pointer
  &__img
    width 100%
    height 150px
    background-image url('./images/related-bg-mobile.png')
    background-position center center
    background-repeat no-repeat
    background-size contain

.dfp
  display flex
  justify-content center
  align-items center
  background-color #fff

.progressBar
  display none
  position fixed
  left 0
  bottom 0
  width 100%
  height 70px
  background-color rgba(255,255,255,.7)
  &-container
    display flex
    width 90%
    height 100%
    padding 10px 0
    margin 0 auto
    > img
      height 50px
    > div
      position relative
      flex-grow 1
      margin-left 10px
      > img
        position absolute
        left 0
      .mrt
        top 50%
        transform translateY(-50%)
        width 20%
      .line
        bottom 0
        width 100%
      
  &.active
    display block

.logoShare
  position fixed
  top 10px
  left 10px
  z-index 999
  > a
    font-size 0
  &__logo
    display block
    > img
      width 40px
      height 40px
  &__share
    display flex
    justify-content center
    align-items center
    position absolute
    top 1px
    left 51px
    z-index 900
    width 38px
    height 38px
    border-radius 19px
    transition transform .2s ease-out
    > img
      height 20px
    &.toggle
      width 40px
      height 40px
      top 0
      left 50px
      z-index 999
      background-color #000
      border-radius 20px
    &.fb
      background-color #3b5998
      &.open
        transition-duration .19s
        transform translate3d(50px,0,0)
    &.line
      background-color #00c300
      &.open
        transition-duration .19s
        transform translate3d(100px,0,0)
    &.gplus
      background-color #d34836
      > img
        height 15px
      &.open
        transition-duration .19s
        transform translate3d(150px,0,0)
        

@media only screen and (min-width: 600px)
  .mobile-only
    display none !important
  .related
    height 210px
    padding 30px 0
    &__img
      background-image url('./images/related-bg.png')
    
/* Desktop */
@media only screen and (min-width: 900px)
  .two-column
    width 48% !important
    > p
      margin-top 0
    > span
      margin .5em 0 !important
      
    &.left
      float left
    &.right
      float right
  .heroImage
    &__title
      position absolute
      top 66.66%
      left 50%
      transform translate(-50%, -50%)
      display block
      width 60%
      height 500px
      background-image url('./images/title-desktop.png')
      background-position center center
      background-repeat no-repeat
      background-size contain
  .content
    > article
      width 60%
    &__title
      display none
  .fbComment
    width 60%
    margin 0 auto
  .progressBar
    &-container
      > div
        .mrt
          width 10%
      
@media only screen and (max-width: 599px)
  .desktop-only
    display none !important
