  .cardBoard
    // background-image none
    // transition opacity 0.5s ease
    > div:not(.interview--brief)
      background-image url(../images/bg-paper.jpg)

    // > div
    //   will-change position, top, left, bottom, right

    &.dark
      > div:not(.interview--brief)
        background-image url(../images/bg-paper-dark.jpg)

  .nav
    &--btnset
      &.shareset
        position absolute
        top 58px
        z-index 10
        width 40px

        div
          position absolute
          border-radius 50%
          transition all .1s ease-out
          cursor pointer
          display flex
          justify-content center
          align-items center
          width 40px
          height 40px
          left 9px
          top 0
          > a
            background-repeat no-repeat
            display block
            width 40px
            height 40px
            cursor pointer

          &.share
            top 0
            z-index 20
          
          &.facebook
            background-color #2068b2
            -webkit-transition-delay 50ms
            transition-delay 20ms
            z-index 19
            > a
              background-image url(../images/facebook_white.png)
              background-size 40% auto
              background-position center center      
            
          &.line
            background-color #20b22c   
            -webkit-transition-delay 75ms
            transition-delay 40ms
            z-index 18
            > a
              background-image url(../images/line_white.png)
              background-size 75% auto
              background-position center center   

          &.g-plus
            background-color #c00   
            -webkit-transition-delay 75ms
            transition-delay 40ms
            z-index 17
            > a
              background-image url(../images/google-plus.png)
              background-size 60% auto
              background-position center center

          &:active:not(:first-child), &:focus:not(:first-child), &:hover:not(:first-child)
            box-shadow inset 0 0 4px rgba(0,0,0,.7), 0 4px 8px rgba(0,0,0,.7)
            
          &:not(:first-child)
            position absolute
            opacity 0

        &:hover 
          height 175px
          > div:not(:first-child)
            position absolute
            opacity 1
            margin-top 8px
            &.facebook
              top 40px
            &.line
              top 88px
            &.g-plus
              top 136px      
  .compactMode
    .nav
      &--btnset
        &.shareset
          position fixed
          left auto
          right 9px
          > div
            left 0

  .mm-projects
    width 755px
    margin 0 auto 40px
    //background-color #fff
    padding 40px 0 20px
    min-height 100px
    iframe
      height 331px

  .facebook-comment
    width 70%
    margin 0 auto
    background-color #fff
    padding 20px

@media all and (orientation:landscape)
  .interview
    .interview--border
      margin-bottom 0
      // padding-top 0

    .interview--brief
      height auto

    // .pager
    //   padding-bottom 0
  .pager
    padding-top 20px
      
@media all and (orientation:portrait)
  .cardBoard  
    > .pager
      transform scale(1)
    &.interview
      > .interview--border
        padding-bottom 10px
        margin-bottom 0
        > .interview--content
          > .interview--brief
            &.cloneBrief
              > .interview--portrait
                img
                  top -100%
                  transition top 0.25s, right 1s, width 0.25s ease, left 1s
    .cardwpr
      .glaint
        .glaint--portrait
          img
            top -100%
            transition top 0.25s, right 1s, width 0.25s ease, left 1s

@media screen and (min-width: 0px) and (max-width: 767px)
  .mm-projects
    width 300px
    iframe
      height 343px

@media screen and (min-width: 0px) and (max-width: 320px)        
  .mm-projects
    width 280px
    iframe
      height 343px

@media screen and (min-width: 420px) and (max-width: 639px)        
  .mm-projects
    width 400px
    iframe
      height 385px

@media screen and (min-width: 640px) and (max-width: 768px)        
  .mm-projects
    width 600px
    iframe
      height 320px