@font-face {
  font-family: 'fontello';
  src: url('./font/fontello.eot?67277035');
  src: url('./font/fontello.eot?67277035#iefix') format('embedded-opentype'),
       url('./font/fontello.woff?67277035') format('woff'),
       url('./font/fontello.ttf?67277035') format('truetype'),
       url('./font/fontello.svg?67277035#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
.share-icon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: "fontello";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: .2em;
  margin-right: .2em;
  speak: none;
  text-align: center;
  text-transform: none;
  width: 1em;
}

/* line 13, ../sass/style.scss */
body {
  background: #545454;
  color: white;
  font-family: "Noto Sans TC", STHeitiTC-Light, 微軟正黑體, "Microsoft JhengHei", sans-serif;
}

.title {
	align-items: center;
	top: 0;
	display: flex;
	font-size: 46px;
	height: 100%;
	justify-content: flex-start;
	text-align: center;
	line-height: 1.2;
	padding-left: 5%;
	position: absolute;
	text-shadow: 0.9px 0.5px 0 rgba(0, 0, 0, 0.8);
	width:80%;

}
.brief {
	text-align: left;
	word-break: break-all;
	width:70%;
	height: 30vh;
	display: flex;
	align-items: center;
	justify-content: center;
	/*position: absolute;*/
	bottom: 0;
	line-height: 20px;
	text-shadow: 0.9px 0.5px 0 rgba(0, 0, 0, 0.8);
	font-size: 16px;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
	position: relative;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****** Main ********/

body {
	color:white;
	font-size:62.5%;
	font-family: 'Lato', sans-serif;
}
.footer,
.header {
	height:30px;
	background: grey;
}

.footer {
	height: 120px;
}

h1 {
	font-size:13em;

}
h2 {
	font-size:8em;
}
p {
	font-size: 4em;
	line-height:1.3;
}
h2 + p {
	font-size:3em;
}
.vertical-center {
	text-align:center;
	width:100%;
	position: absolute;
	top: 47%;
	transform: translateY(-47%);
}
.vertical-center p {
	margin-top:23px;
}
.inner {
	position: absolute;
	height: 20vh;
	bottom: 0;
	width:100%;
	background-image: linear-gradient(180deg,transparent,rgba(0,0,0,0.7));
	margin:0 auto;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.home {
	background:#6dcb94;
	background:hsl(158,58%,52%);
}
.panel1 {
	background:#ec8200;
	background:hsl(28,100%,52%);
}
.panel2 {
	background:#64a0d4;
	background:hsl(200,60%,55%);
}
.panel3 {
	background:#e14456;
	background:hsl(350,92%,59%);
}
.code {
	background:rgba(0,0,0,0.2);
}


.pagination {
	position:fixed;
	right:20px;
	top: 50%;
  transform: translateY(-50%);

	font-size:1.4em;
	z-index: 10;
}
.pagination a {
	display:block;
	height:20px;
	margin-bottom:5px;
	color:white;
	position:relative;
	padding:4px;
}
.pagination a.active:after {
	box-shadow:inset 0 0 0 5px;
}
.pagination a .hover-text {
	position:absolute;
	right:15px;
	top:7px;
	opacity:0;
	-webkit-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	padding-right: 15px;
}
.pagination a:hover .hover-text {
	opacity: 1;
}
.pagination a:after {
	-webkit-transition:box-shadow 0.5s ease;
	transition:box-shadow 0.5s ease;
	width:10px;
	height:10px;
	display: block;
	border:1px solid;
	border-radius:50%;
	content:'';
	position: absolute;
	margin:auto;
	top:0;
	right:4px;
	bottom:0;
}

.social-corner {
	position: absolute;
	top:18px;
	right:40px;
}
.social-corner iframe:first-child {
	margin-right:3px;
}

.vertical-center a:link,
.vertical-center a:visited {
	color:white;
	text-decoration:none;

	font-size:0.6em;
}
.vertical-center a:hover {
	text-decoration: underline;
}
.arrow {
	position: relative;
	padding-right:15px;
}

.arrow:before,
.arrow:after {
	content:'';
	position: absolute;
	right:0;
	top:7px;

	width:2px;
	height:12px;
	background: white;
}
.arrow:before {
	transform: rotate(45deg);
	top:15px;
}
.arrow:after {
	transform: rotate(-45deg);

}

#over18-notice {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .9);
  overflow: hidden;
}

.notice-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}

.notice-container h2 {
	font-size: 1.5rem !important;
	color: #000;
}

.notice-container p {
	margin: 1em 0;
  font-size: 1rem;
  text-align: justify;
  line-height: 1.2rem;
  color: #373D3F;
}

.notice-button > button {
  width: 100%;
  margin: 0.5em 0;
  padding: 0.5em 0;
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  cursor: pointer;
}

.notice-button--over {
  color: #fff;
  background-color: #1087a8;
  border:none;
}

.notice-button--over:hover {
  background-color: #107896;
}

.notice-button--less {
  color: #373D3F;
  background-color: #fff;
  border:1px solid #c1c2c5;
}

.notice-button--less:hover {
  background-color: #f2f3f4;
}

@media (max-width:800px) {
	h1 {
		font-size:15vw;
	}
	h2 {
		font-size:12vw;
	}
	.inner {
		width:100%;

	}
}

@media only screen and (min-width: 1200px) {
    .notice-container {
        width: 600px;
    }

    .notice-button {
        text-align: right;
    }

    .notice-button > button {
        width: auto;
        padding: 0.5em 1em;
        margin-left: 1em;
    }
}
