html, body
  padding 0
  margin 0
  height 100vh
  width 100vw

.btngroup
  position fixed
  top 0
  left 0
  z-index 9999

.nav
  position fixed
  top 0
  left 0
  z-index 9999

  > .mirrormedia
    background-image url(../assets/icons/navbtn-compact.png)
    background-repeat no-repeat
    background-size auto 40px
    background-position left 0
    position absolute
    left 9px
    top 9px
    height 40px
    width 40px


  &--btnset
    &.shareset
      position absolute
      top 58px
      z-index 10
      width 40px

      div
        position absolute
        border-radius 50%
        transition all .1s ease-out
        cursor pointer
        display flex
        justify-content center
        align-items center
        width 40px
        height 40px
        left 9px
        top 0
        > a
          background-repeat no-repeat
          display block
          width 40px
          height 40px
          cursor pointer

        &.share
          top 0
          z-index 20
          background-image url(../assets/icons/navbtn-compact.png)
          background-position right 0
          background-size auto 40px
          background-repeat no-repeat
        
        &.facebook
          background-color #2068b2
          -webkit-transition-delay 50ms
          transition-delay 20ms
          z-index 19
          > a
            background-image url(../assets/icons/facebook_white.png)
            background-size 40% auto
            background-position center center      
          
        &.line
          background-color #20b22c   
          -webkit-transition-delay 75ms
          transition-delay 40ms
          z-index 18
          > a
            background-image url(../assets/icons/line_white.png)
            background-size 75% auto
            background-position center center   

        &.g-plus
          background-color #c00   
          -webkit-transition-delay 75ms
          transition-delay 40ms
          z-index 17
          > a
            background-image url(../assets/icons/google-plus.png)
            background-size 60% auto
            background-position center center

        &:active:not(:first-child), &:focus:not(:first-child), &:hover:not(:first-child)
          box-shadow inset 0 0 4px rgba(0,0,0,.7), 0 4px 8px rgba(0,0,0,.7)
          
        &:not(:first-child)
          position absolute
          opacity 0

      &:hover 
        height 175px
        > div:not(:first-child)
          position absolute
          opacity 1
          margin-top 8px
          &.facebook
            top 40px
          &.line
            top 88px
          &.g-plus
            top 136px

.introduction
  height 100%
  width 100%
  background-color #000
  position fixed
  left 0
  top 0
  z-index 100

  .title-mobile
    display none
  .title
    position absolute
    top 20%
    right 10%
    height 60%
    width 30%
    // margin-top -30%

    img
      object-fit contain
      width 100%
      height 100%
  
  .credit
    position fixed
    left 50px
    bottom 50px
    color #fff
    opacity 0.5

  #introduction-video
    display block
    height 100%
    margin 0 auto
    &.fadein
      animation fade-in 4s linear
      opacity 0    

  video
    display block
    height 100%
    margin 0 auto
    &.fadein
      animation fade-in 4s linear
      opacity 0

.videos
  position fixed
  // height 100vh
  // width 100vw
  // height 1px
  // width 1px
  z-index 97
  // left 0
  // top 0
  background-color #000
  transition height 0.25s ease, width 0.25s ease, top 0.25s, left 0.25s, opacity 0.25s

  display flex
  justify-content center
  align-items center

  > .vid-container
    height 80%
    // width 80%
    position relative
    margin 0 auto
    transition width 1.5s

    > .close-btn-container
      position absolute
      top 0
      right 0
      z-index 102
      width 36px
      height 36px
      cursor pointer
      opacity 0
      transition opacity 0.5s

      img
        width 100%
        height 100%

    iframe
      max-width 100%
      height 100%
      z-index 101
      cursor pointer
      position relative
    
    div[id^="player-"]
      width 95vw
      height 100%
      z-index 101
      cursor pointer
      position relative

      iframe
        height 100%
        max-width 100%


    video
      max-width 100%
      height 100%
      // border 7px solid #fff
      // margin 0 auto
      // display block
      z-index 101
      // transition width 0.5s

      cursor pointer
      position relative
      background-size contain
      background-color transparent
      background-repeat no-repeat
      background-position center center
      // &::-webkit-media-controls-play-button
      //   display none
      &::-webkit-media-controls-current-time-display
        padding 10px
      &::-webkit-media-controls-enclosure
        height 30px
      &::-webkit-media-controls-panel-background
        height 30px
      &::-webkit-media-controls-panel
        position absolute
        bottom 0
        width 100%
        height 30px
        background-color rgba(255,255,255, .7)
      &::-webkit-media-controls-current-time-display
        padding 10px
        display flex !important
        font-size 12px
      &::-webkit-media-controls-time-remaining-display
        display flex !important
        font-size 12px
      &::-webkit-media-controls-volume-slider
        display none        
      &::-webkit-media-controls-start-playback-button
        display none!important
        -webkit-appearance none
        /* the followings isfor Android */
        opacity 0
        pointer-events none

.continue
  position fixed
  width 70px
  height 70px
  bottom 40px
  left 50%
  margin-left -35px
  background-image url(../assets/icons/continue.png)
  background-position center center
  background-repeat no-repeat
  background-size contain
  z-index 999
  border-radius 50%
  background-color rgba(0, 0, 0, 0.5)
  cursor pointer
  &:hover
    background-color rgba(0, 0, 0, 0.8)

.floating-chooser
  position fixed
  height 100vh
  width 100vw
  top 0
  left 0
  z-index 98
  background-color #f3efef

.loading
  width 200px
  height 300px
  position fixed
  top 50%
  left 50%
  margin-top -150px
  margin-left -100px
  display none
  z-index 100

  > div
    margin 0 auto

    &.process
      margin 300px auto 0      
      color #fff
      text-align center

@keyframes fade-in
  0%
    opacity 1

  100%
    opacity 0

@keyframes fade-out-half
  0%
    opacity 0

  100%
    opacity 0.5

@keyframes fade-out
  0%
    opacity 0

  100%
    opacity 1

@media screen and (min-width: 0px) and (max-width: 767px)
  body
    background-color #000
    will-change height
  .introduction
    z-index 99
    background-image url(../assets/414768.jpg)
    background-size cover
    background-position center center
    background-repeat no-repeat
    height 100vh
    will-change height
    // opacity 0.75
    img.background
      height 100%
      width 100%
      object-fit cover

    .title-mobile
      display block
      position absolute
      // bottom 50px
      // right 50px
      width 90%
      height 65%
      right 5%
      bottom 15%
      img
        object-fit contain
        object-position center right
        height 100%
        width 100%
    .title
      display none

    .credit
      left 0
      bottom 0
      width 100vw
      padding 20px 0
      text-align center
      font-size 0.9rem
      opacity 0.5

    video
      display none
      width 100%
  .videos
    > .vid-container
      display flex
      justify-content center
      align-items center
      height 100vh

      iframe
        height auto
        min-height 50%
      
      div[id^="player-"]
        height auto
        min-height 50%

      > .close-btn-container  
        top 5px
        right 5px
      > video
        height auto
  .vid-list
    will-change height, transform
    z-index 99
    position relative
    top 100vh
    left 0
    width 90vw
    // height 100vh
    display flex
    flex-wrap wrap
    transition opacity 1s
    opacity 0.85
    background-color #f3efef
    margin 0 auto
    box-shadow 0 0 30px rgba(0, 0, 0, 0.68)
    > .vid-container
      width 45vw
      height 45vw
      cursor pointer
      opacity 0.5
      position relative
      transition opacity 0.5s

      // &:not(.active)
      //   animation fade-out-half 0.5s

      &.active
        opacity 1
        // animation fade-out 1s
        img
          &.vid-play-btn
            display block
      img
        &:not(.vid-play-btn)
          width 100%
          height 100%
        &.vid-play-btn
          display none
          width 50px
          height 50px
          position absolute
          top 50%
          left 50%
          margin-top -25px
          margin-left -25px