body {
	height: 100%;
	font-family: 'HanHei TC', 'PingFang TC', 'Helvetica Neue', 'Helvetica', 'STHeitiTC-Light', 'Arial', sans-serif;
	font-style: normal;
	font-weight: 200;
	color: 
}

a {
	cursor: pointer;
	color: rgba(0,0,0,.5); 
}

h1 {
	font-size: 2em;
	font-weight: 200;
}

h2 {
	font-size: 1.4em;
	font-weight: 200;
}

p {
	font-size: 1em;
}

ul {
	-webkit-padding-start: 0px;
}

li {
	list-style: none;
}


.ui.top.fixed.menu {
	height: auto;
	margin-left: auto!important;
    margin-right: auto!important;
    padding: 5px 0;
    background-color: transparent;
    border: none;
    display: flex;
  	flex-direction: column;
  	justify-content: center;
  	box-shadow: none;
}

header .logo {
	display: inline-block;
	position: relative;
	left: 10px;
	width: 46px;
}

header .link-logo {
	display: inline-block;
	padding: 0.2em;
}

header .link-logo img {
	vertical-align: middle;
}

header .nav-hamburger {
	position: absolute;
	right: 5px;
	width: 50px;
	height: 56px;
	text-align: center;
	padding: 0.4em;
	display: flex;
  	flex-direction: column;
  	justify-content: center;
}

header .nav-hamburger  a {
}

header .nav-hamburger img {
	height: 28px;
}

header .nav-list {
	display: none;
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 56px;
	left: 0;
	background-color: rgba(255, 255, 255, 0.9);
}

header .nav-list a {
	text-align: center;
	display: block;
	padding: 1.5vh;
	border-top: 1px solid ;
	border-color: rgba(0,0,0,.5); 
}

header .nav-list a:last-child {
	border-bottom: 1px solid ;
}

.topic-title {
	position: fixed;
	text-align: center;
	top: 15vh;
	right: 0;
    left: 0;
}

.topic-title img {
	width: 80vw;
}

.brush-img {
	position: fixed;
	text-align: center;
	right: 0;
    left: 0;
    top: 10vh;
}

.brush-img img {
	position: relative;
	width: 80px;
}

.scene {
	height: 100vh;
	padding-top: 56px;
	opacity: 0;
}

#scene1 .scene-content {
	position: static;
}

.scene-content {
	height: 100%;
	margin: 0 auto;
}

.mullet-intro {
	position: fixed;
	width: 80vw;
	text-align: center;
	top: 50%;
	left: 50%;
    transform: translate(-50%, 0);
}

.mullet-intro p {
	margin-bottom: 0.4em;
}

.mullet-img {
	position: relative;
	text-align: center;
	top: 34vh;
	right: 0;
	left: 0;
	
}

.mullet-img img {
	height: 13vh;
}

.mullet-img-fixed {
	position: fixed !important;
	text-align: center;
	top: 20vh;
	right: 0;
	left: 0;
}

.mullet-position-text {
	position: fixed;
	text-align: center;
	top: 12.5vh;
	right: 0;
	left: 0;
}

.mullet-position {
	position: fixed;
	text-align: center;
	top: 20vh;
	right: 0;
	left: 0;
}

.mullet-position img {
	height: 13vh;
}

.dish-img {
	position: relative;
	text-align: center;
	top: 35vh;
	right: 0;
	left: 0;
}

.dish-img img {
	height: 30vh;
}

.dish-img-fixed {
	position: fixed !important;
	text-align: center;
	top: 35vh;
	left: 50%;
    transform: translate(-50%, 0);
	height: 30vh;
	width: 30vh;
	border-radius:99em;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.dish-img-fixed img {
	height: 30vh;
}

.dish-intro {
	width: 75vw;
	margin: 0 auto;
	position: fixed;
	text-align: center;
	top: 67vh;
	left: 0;
	right: 0;
}

.dish-intro h2 {
	margin-bottom: 0.3rem;
}

.dish-intro p {
	font-size: 0.7em;
	margin: 0;
	text-align: left;
}

.footer {
    padding: 55px 122px;
}

.footer .item.section {
    padding-bottom: 20px!important;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.9px;
}

.footer .item {
    font-size: 17px;
    font-weight: 400;
}

.footer .ui.center.aligned.grid {
    margin: 70px 0 0!important;
}

#scene1 {
	opacity: 1;
}

#scene10 .scene {
	height: 50vh;
}

#scene10 .related-report {
	width: 90vw;
	margin: 0 auto;
}

#scene10 h3 {
	text-align: center;
}

#scene10 li {
	text-align: center;
	padding: 0.4vh 0;
}

/* tablet */
@media only screen and (min-width: 768px) and (max-width:991px) {
	header .logo {
		left: 20px;
	}

	header .nav-hamburger {
		right: 15px;
	}

	.topic-title {
		top: 10vh;
	}

	.topic-title img {
		width: 70vw;
	}

	.brush-img {
	    top: 10vh;
	}

	.brush-img img {
		width: 100px;
	}

	.mullet-intro p {
		font-size: 1.6em;
	}

	.mullet-img {
		top: 38vh;
	}

	.mullet-img img {
		height: 15vh;
	}

	.mullet-img-fixed {
		top: 18vh;
	}

	.mullet-position-text {
		top: 12vh;
	}

	.mullet-position {
		top: 18vh;
	}

	.mullet-position img {
		height: 15vh;
	}

	.dish-img {
		top: 42vh;
	}

	.dish-img img {
		height: 30vh;
	}

	.dish-img-fixed {
		top: 42vh;
	}

	.dish-img-fixed img {
		height: 30vh;
	}

	.dish-intro {
		width: 70vw;
		top: 75vh;
	}

	.dish-intro h2 {
		margin-bottom: 1rem;
	}

	.dish-intro p {
		font-size: 1.2em;
	}

	#scene10 .related-report {
		padding-top: 50px;
	}

	#scene10 li {
		font-size: 1.4em;
		padding: 1.2vh 0;
	}
}

/* small monitor */
@media only screen and (min-width: 992px) and (max-width:1199px) {
	header .logo {
		left: 30px;
	}

	header .nav-hamburger {
		right: 25px;
	}

	.topic-title {
		text-align: right;
		top: 25vh;
		right: 30vw;
	}

	.topic-title img {
		width: 20vw;
	}

	.brush-img {
		display: none;
	}

	.mullet-intro {
		position: fixed;
		width: 30vw;
		text-align: center;
		top: 35vh;
		left: 26vw;
	}

	.mullet-img {
		position: fixed;
		text-align: right;
		top: 50vh;
		right: 10vw;
		
	}

	.mullet-img img {
		height: 20vh;
	}

	.mullet-position-text {
		text-align: right;
		top: 72vh;
		right: 15vw;
		font-size: 1.5em;
		color: #4291AA;
	}

	.mullet-position {
		text-align: right;
		top: 50vh;
		right: 10vw;
	}

	.mullet-position img {
		height: 20vh;
	}

	.dish-img {
		position: fixed;
		text-align: left;
		top: 25vh;
		left: 10vw;
	}

	.dish-img img {
		height: 40vh;
	}

	.dish-img-fixed {
		top: 25vh;
		left: 16vw;
    	transform: translate(-16%, 0);
		height: 40vh;
		width: 40vh;
	}

	.dish-img-fixed img {
		height: 40vh;
	}

	.dish-intro {
		width: 35vw;
		top: 68vh;
		left: 10vw;
		margin: 0;
	}

	.dish-intro h2 {
		margin-bottom: 0.5rem;
	}

	.dish-intro p {
		text-align: justify; 
		word-break: break-all;
		font-size: 1em;
	}
}

/* large monitor */
@media only screen and (min-width: 1200px) {
	header .logo {
		left: 30px;
	}

	header .nav-hamburger {
		right: 25px;
	}

	.topic-title {
		text-align: right;
		top: 18vh;
		right: 30vw;
	}

	.topic-title img {
		width: 20vw;
	}

	.brush-img {
		display: none;
	}

	.mullet-intro {
		position: fixed;
		width: 30vw;
		text-align: center;
		top: 35vh;
		left: 25vw;
		font-size: 1.8em;
	}

	.mullet-img {
		position: fixed;
		text-align: right;
		top: 48vh;
		right: 22vw;
	}

	.mullet-img img {
		height: 22vh;
	}

	.mullet-position-text {
		text-align: right;
		top: 72vh;
		right: 28vw;
		font-size: 1.5em;
		color: #4291AA;
	}

	.mullet-position {
		text-align: right;
		top: 48vh;
		right: 22vw;
	}

	.mullet-position img {
		height: 22vh;
	}

	.dish-img {
		position: fixed;
		text-align: left;
		top: 27vh;
		left: 10vw;
	}

	.dish-img img {
		height: 42vh;
	}

	.dish-img-fixed {
		top: 25vh;
		left: 15vw;
    	transform: translate(-15%, 0);
		height: 42vh;
		width: 42vh;
	}

	.dish-img-fixed img {
		height: 42vh;
	}

	.dish-intro {
		width: 35vw;
		top: 70vh;
		left: 7vw;
		margin: 0;
	}

	.dish-intro h2 {
		margin-bottom: 1.4rem;
		font-size: 1.8em;
	}

	.dish-intro p {
		text-align: justify; 
		word-break: break-all;
		font-size: 1.2em;
	}
}

@media only screen and (min-width: 992px) {

	.ui.top.fixed.menu {
		flex-direction: row;
		justify-content:flex-start;
	}

	header .logo {
		display: inline-block;
	}

	header .nav-list {
		display: inline-block;
		position: relative;
		/*background-color: transparent;*/
		top: 0;
		left: 40px;
		height: auto;
		width: auto;
		padding-top: 14px;
  		padding-bottom: 14px;
	}

	header .nav-list a {
		display: inline;
		padding: 0 10px;
		border: none;
	}

	header .nav-list a:last-child {
		border: none;
	}

	.subscribe {
		width: 100% !important;
	}

	#scene10 .related-report {
		padding-top: 65px;
	}

	#scene10 li {
		font-size: 1.4em;
		padding: 1.2vh 0;
	}
}

@media only screen and (min-width: 1365px) {
	.topic-title {
		right: 25vw;
	}

	.mullet-img {
		right: 18vw;
	}

	.mullet-position {
		right: 18vw;
	}

	.mullet-intro {
		font-size: 1.4em;
	}

	.dish-intro p {
		font-size: 1.2em;
	}
}

@media only screen and (min-width: 1439px) {
	.mullet-img {
		right: 15vw;
	}

	.mullet-position {
		right: 15vw;
	}
}

@media only screen and (min-width: 1599px) {
	.dish-intro {
		width: 30vw;
		top: 70vh;
		left: 9vw;
		margin: 0;
	}

	.dish-intro p {
		font-size: 1.4em;
	}
}
