html, body
  margin 0
  padding 0
body
  height 100vh
  width 100vw
  background-color #000
  display flex
  flex-direction column

.rush-rent
  width 100%
  height 100%
  margin auto
  display flex
  align-items center
  justify-content center

.loading
  width 200px
  height 300px
  position fixed
  top 50%
  left 50%
  margin-top -150px
  margin-left -100px
  display none
  z-index 100

  > div
    margin 0 auto

    &.process
      color #fff
      text-align center

.mobile-portrait-warning
  position fixed
  top 0
  left 0
  height 100vh
  width 100vw
  background-color rgba(0, 0, 0, 0.9)
  z-index 104
  display flex
  justify-content center
  align-items center

  display none

  .warning
    height 60%
    width 60%
    background-position center center
    background-repeat no-repeat
    background-size contain
    background-image url(../assets/icons/should-be-landscape.png)

.mobile-scroll-up-request
  position fixed
  top 0
  left 0
  height 100vh
  width 100vw
  background-color rgba(0, 0, 0, 0.9)
  z-index 103
  display flex
  justify-content center
  align-items center

  display none

  .warning
    height 60%
    width 60%
    background-position center center
    background-repeat no-repeat
    background-size contain
    background-image url(../assets/icons/should-be-scrolled-up.gif)

.introduction
  position fixed
  top 0
  left 0
  height 100vh
  width 100vw
  background-color rgba(0, 0, 0, 0.7)
  z-index 102
  display flex
  justify-content center
  align-items center

  background-position center center
  background-repeat no-repeat
  background-size contain
  background-image url(../assets/containers/rent-map.jpg)

  > .logo
    height 60%
    width 60%
    background-position center center
    background-repeat no-repeat
    background-size contain
    background-image url(../assets/rental_house_logo.png)

  &.fade-in
    animation fade-in 1s
    opacity 0

.guide
  position fixed
  background-color #fff
  border-radius 30px
  z-index 102
  width 70vw
  height 80vh
  left 50%
  margin-left -35vw
  top 50%
  margin-top -40vh
  padding 20px

  display none
  &.active
    display block
  
  .wrapper
    background-color #ec6826
    border-radius 20px
    height 100%
    display flex
    flex-direction column
    justify-content center
    align-items center
    color #fff

    // display block
    padding 30px
    height calc(100% - 60px)
    overflow auto

    > .poser
      max-height 100%
      max-width 100%
      // display flex
      // justify-content center
      // align-items center

      > .content
        width 80%
        font-size 20px
        line-height 40px
        font-weight normal

        margin 0 auto

        > p
          margin 30px 0

          > .situation
            height 30px
            margin 0 10px
            vertical-align top

      > .ready
        background-color #1b1464
        padding 10px 40px
        border-radius 10px
        font-size 20px
        font-weight bolder
        cursor pointer

        max-width 140px
        text-align center
        margin 0 auto 30px

        &:hover
          background-color #2e2779

.please-change-browser
  display none
  width 100vw
  position fixed
  top 0
  left 0
  height 100vh
  z-index 102

  flex-direction column
  justify-content center
  align-items center

  > .wrapper
    background-color #fff
    // width calc(70% - 80px)
    width 100%
    padding 20px 40px 40px

    > .attention
      color #ec6826
      text-align center
      margin 20px auto
      > h3
        margin 5px auto
      > p
        margin 5px auto
    > .step
      width 90%
      margin 20px auto
      > img
        height 20px
        vertical-align text-top
        margin 0 10px
      > div
        margin 10px
        > img
          height 100px
          margin 0 auto
          display block


  &.active
    display flex

.basic-requirments
  width 100vw
  height 100vh
  position fixed
  top 0
  left 0
  z-index 101
  display flex
  justify-content center
  align-items center
  color #fff
  background-position center center
  background-repeat no-repeat
  background-size contain
  background-image url(../assets/containers/rent-map.jpg)
  animation fade-out 1s
  // overflow auto
  min-height 300px

  > .wrapper
    background-color #fff
    width 280px
    padding 20px
    border-radius 20px
    box-shadow 0 0 15px #4a4a4a

    > .form
      border-radius 10px
      margin 0 auto
      background-color grey
      padding 20px

      > .title
        font-size 40px
        font-weight bolder
        text-align center
        margin 30px

      > .question
        margin 10px auto
        width 80%
        font-size 20px
        display flex
        justify-content center
        align-items flex-start

        > div
          display inline-block

          &.title
            width 25%
          &.requirement
            width 60%
            > input
              outline none
            > input[type="text"], input[type="number"]
              border-radius 10px
              padding 0 5px
              height 20px
              font-size 20px
              width 100%
              color #656565
              &::-webkit-input-placeholder
                font-size 12px
                text-align center

              &:-moz-input-placeholder
                font-size 12px  
                text-align center              

              &::-moz-input-placeholder
                font-size 12px     
                text-align center           

              &:-ms-input-placeholder
                font-size 12px     
                text-align center
            &.salary, &.budget
              > .warn-text
                display none
        &.warn
          > div
            &.requirement
              position relative
              &::before
                content '!'
                display block
                height 20px
                width 20px
                background-color #f00
                color #fff
                position absolute
                right -35px
                top 4px
                border-radius 50%
                font-size 15px
                text-align center

              &.salary, &.budget
                > .warn-text
                  color #fff
                  font-size 14px
                  text-align justify
                  margin-top 5px
                  display block
                  
                
              > input[type="text"]
                border 1px solid red
                &::-webkit-input-placeholder
                  color red

                &:-moz-input-placeholder  
                  color red

                &::-moz-input-placeholder     
                  color red

                &:-ms-input-placeholder     
                  color red
              // &.ratio-issue
              //   &.salary
              //     &::after
              //       content '＊薪水不能少於預算的三倍'
              //       position relative
              //       display block
              //       color #fff
              //       font-size 14px
              //       text-align justify
              //       margin-top 5px
              //   &.budget
              //     &::after
              //       content '＊預算不能超過薪水的三分之一'
              //       position relative
              //       display block
              //       color #fff
              //       font-size 14px
              //       text-align justify
              //       margin-top 5px

      
      > .play
        margin 30px auto
        width 100px
        text-align center
        background-color #d80b0b
        padding 10px
        font-size 20px
        font-weight bolder
        border-radius 20px
        cursor pointer
        &:hover
          background-color #ff6464

.requires-top
  position fixed
  top 0
  left 0
  height 32px
  z-index 101
  background-color #fff
  border-radius 20px
  > .wrapper
    background-color grey
    border-radius 15px
    color #fff
    > div
      font-size 16px
      display inline-block
      padding 5px 20px

      &.title
        background-color #ffffff
        border-radius 15px
        color #808080
        font-weight bolder

        
.gameset
  position fixed
  top 0
  left 0
  width 100vw
  height 100vh
  z-index 101
  display flex
  justify-content center
  align-items center
  background-position center center
  background-repeat no-repeat
  background-size contain
  background-image url(../assets/containers/rent-map.jpg)  
  > .wrapper
    width 80vw
    height 80vh
    display flex
    justify-content center
    align-items center

    > .inner
      background-position center center
      background-size contain
      background-repeat no-repeat

      position relative
      height 100%
      width 100%
      max-width calc(80vh * (2401 / 1868))
      max-height calc(80vw * (1868 / 2401))
      // margin 0 auto

      &.best
        background-image url(../assets/3cards-bg-08.png)
      &.medium
        background-image url(../assets/3cards-bg-09.png)
      &.loser
        background-image url(../assets/3cards-bg-10.png)
      > .result
        position absolute
        top 50%
        right 0
        width 50%

        display flex
        flex-direction column
        justify-content center
        align-items flex-start

        padding 10% 0
        height 100%
        margin-top -50%

        font-size calc((80vw * (1868 / 2401)) / 2)

        > .title
          font-size 10%
          color #fff
          font-weight bolder

        > .desc
          color #fff
          font-size 5%
          margin-top 20px
          line-height 125%
          padding-right 10%  

        > .btns
          padding-right 20%
          margin-top 5%
          font-size 100%
          width 80%

          > div
            background-color #2e3292
            background-color #2e3292
            margin-top 3%
            height 40px
            color #fff
            display flex
            justify-content center
            align-items center
            font-size 4%
            border-radius 0.5rem
            cursor pointer

            &:before
              content ''
              display block
              height 1.3rem
              width 1.3rem
              background-position center center
              background-repeat no-repeat
              background-size contain
              margin-right 10px
            
            &.read
              &:before
                background-image url(../assets/icons/read.png)
            &.share
              &:before
                background-image url(../assets/icons/share.png)
            &.play-again
              &:before
                background-image url(../assets/icons/play-again.png)

            &:hover
              background-color #60629a



@media screen and (min-width: 0px) and (max-width: 767px) and (orientation:portrait)
  .mobile-portrait-warning
    &.mobile
      display flex

@media screen and (min-width: 0px) and (max-width: 767px) and (orientation:landscape)
  html, body
    height calc(100vh + 1px)

  .guide
    height 100vh
    top 0
    margin-top 0
    overflow auto
    border-radius 0
    width calc(90vw - 40px)
    margin-left calc(0px - (45vw))
    > .wrapper
      height auto
      display block
      padding 30px 30px
      margin-bottom 40px
      > .content
        margin 30px auto
        width 95%
      > .ready
        width 150px
        margin 30px auto
        text-align center

  .basic-requirments
    > .wrapper
      height calc(100% - 30px)
      overflow auto
      padding 15px

      display block
      border-radius 0

      > .form
        // height calc(100% - 30px)
        height 100%
        padding 15px
        display flex
        flex-direction column
        justify-content center
        > .title
          margin 10px 30px
          font-size 30px
        > .question
          margin 5px auto
          > .div
            vertical-align top
        > .play
          margin 10px auto

  .requires-top
    height 20px
    border-radius 0
    width 100vw

    > .wrapper
      border-radius 0
      line-height 18px

      > div
        font-size 12px
        padding 2px 20px
        &.title
          border-radius 0

  .mobile-scroll-up-request
    &.mobile
      &.active
        display flex

@keyframes fade-out
  0%
    opacity 0

  100%
    opacity 1

@keyframes fade-in
  0%
    opacity 1

  100%
    opacity 0