@import-normalize; 
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Noto Serif TC' ,'Noto Serif', 'Garamond', 'Times New Roman', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
