body {
  min-width: 100%;
}
.dataRow {
  width: 100%;
  max-width: 600px;
}
.filter {
  margin-top: 20px;
  .citySelect {
    width: 80px;
    margin-right: 5px;
    height: 2.1em;
    font-size: 1em;
    vertical-align: top;
    text-align: center;
  }
  .areaSelect {
    width: 80px;
    margin-right: 5px;
    height: 2.1em;
    font-size: 1em;
    vertical-align: top;
    text-align: center;
  }
  .memberName {
    min-width: 70px;
    margin-right: 5px;
    border: 1px solid #dddddd;
    height: 2.1em;
    font-size: 1em;
    vertical-align: top;
    max-width: 80px;
  }
}

.dataRow {
  & > ul {
    list-style: none;
    padding-left: 0;
    width: 100%;
    & > li {
      width: 100%;
      margin-top: 10px;
      & > ul {
        list-style: none;
        padding-left: 0;
        border: 1px solid #d5d5d5;
        padding: 0 0 5px 0;
        & > li {
          display: inline-block;
          &.city-n-area {
            min-width: 50%;
            padding: 10px 5px 10px 10px;
            text-align: right;
            font-weight: bold;
            display: inline-flex;
            align-items: center;
            justify-content: flex-end;
          }
          &.name {
            min-width: 30%;
            padding: 10px 5px 10px 10px;
            text-align: left;
            font-weight: bold;
            display: inline-flex;
            align-items: center;
            justify-content: flex-start;;
          }
          &.people-number {
            min-width: 100%;
            padding: 0 10px 5px 10px;
            text-align: right;
            span {
              float: left;
            }
            &.dark--550 {
              background-color: #e7e7e7;
            }
            &.bold {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

.mobile-hide {
  display: none;
}

@media screen and (min-width: 550px) {
  .filter {
    .citySelect {
      margin-right: 10px;
      min-width: 80px;
      width: auto;
      font-size: 1.3em;
    }
    .areaSelect {
      margin-right: 10px;
      min-width: 80px;
      width: auto;
      font-size: 1.3em;
    }
    .memberName {
      margin-right: 10px;
      width: auto;
      font-size: 1.3em;
      max-width: 120px;
    }
  }
  .dataRow {
    & > ul {
      & > li {
        & > ul {
          & > li {
            &.city-n-area {
              min-width: 35%;
              font-size: 1.2em;
              justify-content: center;
            }
            &.name {
              font-size: 1.2em;
            }
            &.people-number {
              min-width: 49%;
              &.dark--550 {
                background-color: transparent;
              }
              &.dark {
                background-color: #e7e7e7;
              }
            }
          }
        }
      }
    }
  }
}
