html, body{
  // box-sizing: content-box;
}
body{
  display: block!important;
}
header {
  position: fixed;
  height: 60px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  .menu-bar {
    height: 100%;
    padding: 10px;
    img {
      height: 100%;
    }
    .share {
      display: inline-block;
      height: 40px;
      width: 40px;
      overflow: visible;
      margin-left: 5px;
    }
  }
  .menu-bar-right {
    margin-right: 40px;
    padding: 10px;
  }
}
aside {
  position: fixed;
  top: 0;
  left: 100vw;
  -webkit-transition: left 0.5s; /* For Safari 3.1 to 6.0 */
  transition: left 0.5s;
  z-index: 99;
  .sidebar {
    background-color: #eab2ac;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    div {
      display: flex;
      flex-direction: column;
      .story {
        display: flex;
        width: 40vw;
        height: 40vw;
        background-image: url(./img/whiteheart2.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        font-size: 17px;
        line-height: 25px;
        text-align: center;
        color: rgba(255, 255, 255, 0.74);
        justify-content: center;
        align-items: center;
        padding: 10px 20px 20px;
        &.active {
          background-image: url(./img/whiteheart1.png);
          color: #eab2ac;
        }
      }
    }
  }
  &.show {
    left: 0;
  }
}
main {
  .page {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;

    &.page-brief {
      align-items: flex-start;;
      background-color: #eab2ac;
      color: #fff;
      .brief  {
        font-size: 26px;
        line-height: 30px;
        font-weight: normal;
        text-align: center;
        padding-top: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        z-index: 2;
        .title {
          font-size: 68px;
          line-height: 78px;
        }
        .start {
          margin-top: 20px;
          color: rgba(0, 0, 0, 0.4);
          font-size: 25px;
          // background-color: #eaa29b;
          // width: 150px;
          padding: 5px;
          cursor: pointer;
          img {
            width: 260px;
          }
        }
      }
      .god-tools {
        position: absolute;
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0;
        img {
          // height: 50px;
          position: absolute;
          &.net {
            top: 20vh;
            left: 10vw;
            -ms-transform: rotate(-7deg);
            -webkit-transform: rotate(-7deg);
            transform: rotate(-7deg);
          }
          &.paint {
            top: 12vh;
            right: 15vw;
            -ms-transform: rotate(-7deg);
            -webkit-transform: rotate(-7deg);
            transform: rotate(-7deg);
          }
          &.phone {
            bottom: 15vh;
            left: 10vw;
            -ms-transform: rotate(-20deg);
            -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
          }
          &.letter {
            bottom: 5vh;
            right: 28vw;
            -ms-transform: rotate(7deg);
            -webkit-transform: rotate(7deg);
            transform: rotate(7deg);
          }
          &.app {
            bottom: 15vh;
            right: 10vw;
            -ms-transform: rotate(15deg);
            -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
          }
        }
      }
    }
    &.page-quiz {
      display: flex;
      padding: 0;
      background-color: #2cb5ae;
      flex-direction: column;
      height: 90vh;
      .quiz-container{
        width: 100%;
        // min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 4;
        .question-container {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 20px;
          flex-direction: column;
          .index {
            width: 50px;
            height: 50px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            margin-bottom: 20px;
          }

          .question {
            text-align: center;
            .question-content {
              color: #fff;
              font-size: 22px;
              line-height: 28px;
              text-align: left;
            }
            .options {
              margin-top: 20px;
              .option {
                border: 1px solid rgba(255, 255, 255, 0.52);
                margin: 10px 0;
                line-height: 30px;
                font-size: 18px;
                color: rgba(255, 255, 255, 0.78);
                padding: 4px 15px;
                text-align: left;
                cursor: pointer;

                &.-selected,&:hover {
                  background-color: #fff;
                  color: #2cb5ae;
                }
              }
            }
          }
          &.-hidden {
            display: none;
          }
        }

      }
      .pass-answer {
        margin-top: 20px;
        color: #fff;
        font-size: 22px;
        display: block;
        position: relative;
        width: 100%;
        text-align: center;
        cursor: pointer;
        flex: 1;
      }
    }
    &.page-painting {
      background-color: #d9cec9;
      flex-direction: column;
      justify-content: space-around;
    }
    &.page-phone {
      background-color: #eb9858;
      flex-direction: column;
      justify-content: space-around;
    }
    &.page-letter {
      background-color: #b5dbab;
      flex-direction: column;
      justify-content: space-around;
    }
    &.page-internet {
      background-color: #c0a8dd;
      flex-direction: column;
      justify-content: space-around;
    }
    &.page-app {
      background-color: #efcc77;
      flex-direction: column;
      justify-content: space-around;
    }
    &.article {
      background-color: #fff;
      padding-top: 30px;
      padding-bottom: 30px;
      article {
        .photo {
          margin-bottom: 30px;
          .img {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 57.26vw;
            margin-bottom: 10px;
          }
          .caption {
            color: rgba(0, 0, 0, 0.43);
            line-height: 20px;
            font-size: 16px;
          }
        }
        .title {
          margin-top: 30px;
          font-size: 36px;
          line-height: 40px;
          font-weight: bold;
        }
        .credit {
          margin-top: 10px;
          color: rgba(0, 0, 0, 0.72);
        }
        .content {
          margin-top: 30px;
          font-size: 18px;
          line-height: 34px;
          p {
            margin-top: 30px;
            font-size: 18px;
            line-height: 34px;
          }
        }
        .story-choose {
          margin: 30px 0;
          display: flex;
          justify-content: center;
          align-items: center;
          .story {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .story-choose-img {
              width: 50px;
              height: 50px;
              background-image: url(./img/pinkheart2.png);
              background-repeat: no-repeat;
              background-position: center center;
              background-size: contain;
            }
            .label {
              text-align: center;
            }
          }
        }
      }
    }
    .page-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      & > div {
        margin-bottom: 25px;
        .caption {
          color: #fff;
          text-align: center;
          text-shadow: 0 0 1px rgb(39, 39, 39);
          font-size: 20px;
          margin-top: 5px;
        }
      }
    }
    .keep-reading {
        // position: fixed;
        width: 100%;
        // bottom: 30px;
        text-align: center;
        cursor: pointer;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & > div {
          border-radius: 40px;
          width: 40px;
          height: 40px;
          img {
            width: 100%;
          }
        }
    }
    .result {
      .content {
        line-height: 26px;
      }
      .btns {
        margin-top: 20px;
        font-size: 20px;
        div {
          display: inline-block;
          margin-right: 20px;
          img {
            width: 10px;
            margin-right: 5px;
          }
        }
      }
    }
  }
}
.nav {
  position: fixed;
  top: 50vh;
  left: 50px;
  margin-top: -200px;
  .item {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin-top: 10px;
    padding: 5px 10px;
    color: #eab2ac;
    background-image: url(./img/pinkheart2.png);
    cursor: pointer;
    &.active{
      background-image: url(./img/pinkheart1.png);
    }
  }
}
.mobile-hide{
  display: none !important;
}
.mobile-only{
  display: inherit;
}

@media screen and (min-width: 768px) {
  main {
    .page {
      &.page-brief {
        flex-direction: column;
        .brief {
          position: relative;
          height: 200px;
          padding-top: 0;
          .start {
            img {
              width: 230px;
              position: relative;
              top: -20px;
            }
          }
        }
        .god-tools {
          position: relative;
          height: 200px;
          text-align: center;
          top: 80px;
          img {
            position: relative;
            &.net {
              top: -25px;
              left: 0;
              -ms-transform: rotate(0deg);
              -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
            }
            &.paint {
              top: 0;
              left: 20px;
              -ms-transform: rotate(-7deg);
              -webkit-transform: rotate(-7deg);
              transform: rotate(-7deg);
            }
            &.phone {
              top: -25px;
              left: 40px;
              -ms-transform: rotate(15deg);
              -webkit-transform: rotate(15deg);
              transform: rotate(15deg);
            }
            &.letter {
              top: -70px;
              left: 65px;
              -ms-transform: rotate(-20deg);
              -webkit-transform: rotate(-20deg);
              transform: rotate(-20deg);
            }
            &.app {
              top: -52px;
              left: -42px;
              -ms-transform: rotate(-7deg);
              -webkit-transform: rotate(-7deg);
              transform: rotate(-7deg);
            }

          }
        }
      }
      &.page-quiz {
        .quiz-container{
          width: 100%;
          flex-direction: row;
          justify-content: space-around;
          .question-container {
            height: 420px;
            width: 30vw;
            flex-direction: column;
            justify-content: flex-start;
            .index {
            }
            .question {
              background-color: #fff;
              border-radius: 31vw;
              width: 31vw;
              height: 31vw;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              .question-content {
                height: 50px;
                // top: 70px;
                position: relative;
                color: #2cb5ae;
                width: 21vw;
                font-size: 15px;
                line-height: 18px;
                height: 36px;
                .content {
                  text-align: center;
                }
              }
              .options {
                margin-top: 0;
                width: 20vw;
                .option {
                  font-size: 11px;
                  line-height: 12px;
                  padding: 4px 0;
                  margin: 5px 0px;
                  text-align: center;
                  background-color: rgba(232, 232, 232, 0.55);
                  color: #000;
                  &.-selected,&:hover {
                    background-color: #2cb5ae;
                    color: #fff;
                  }
                }
              }
            }
            &.-hidden {
              display: flex;
            }
          }

        }
      }
      &.article {
        article {
          width: 60vw;
          .photo {
            .img {
              height: 42.26vw;
            }
          }
        }
      }
      .page-content {
        & > div {
          &.result {
            font-size: 18px;
            width: 60vw;
            .content {
              line-height: 36px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  header {
  }
  main {
    .page {
      &.page-quiz {
        .quiz-container{
          .question-container {
            .question {
              .question-content {
                font-size: 18px;
                line-height: 20px;
                height: 40px;

              }
              .options {
                .option {
                  font-size: 14px;
                  line-height: 14px;
                  padding: 6px 0;
                  margin: 7px 0px;
                }
              }
            }
          }
        }
      }
      &.article {
        padding-bottom: 60px;
      }
    }
    .mobile-only {
      display: none;
    }
    .mobile-hide{
      display: inherit;
    }
  }
  .mobile-only {
    display: none !important;
  }
  .mobile-hide{
    display: block!important;
  }
}
@media screen and (min-width: 1180px) {
  main {
    .page {
      &.page-quiz {
        .quiz-container{
          .question-container {
            height: 35vw;
          }
        }
      }
    }
  }
}
