@charset "utf-8";
@media only screen and (max-width : 1200px) {

    .opening__heroimg {width:150%; margin-left:-25%;}

}

@media only screen and (max-width : 1000px) {

    /*.opening__heroimg {background-size:170% auto;}*/
    .opening__heroimg {width:170%; margin-left:-35%;}


}

@media only screen and (max-width : 700px) {

    /*.opening__heroimg {background-size:190% auto;}*/
    .opening__heroimg {width:190%; margin-left:-45%;}


}

@media only screen and (max-width : 500px) {

    /*.opening__heroimg {background-size:210% auto;}*/
    .opening__heroimg {width:210%; margin-left:-55%;}

}

