@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css)

*, *:before, *:after
  box-sizing inherit

html
  box-sizing border-box
  font-size 12px
  font-family "Noto Sans TC", "STHeitiTC-Light", Microsoft JhengHei, "Microsoft JhengHei", sans-serif
body
  overflow-x hidden
  &.disableScrollY
    overflow-y hidden

section
  display flex
a, p, h1, h2
  font-weight 300
  margin 0
a
  cursor pointer
p
  font-size 1.2rem
h1
  font-size 2rem
h2
  font-size 1.4rem
h3
  font-size 1.2rem
img
  transform translate3d(0,0,0)
button
  font-size 2rem
  cursor pointer
  
.container
  padding 70px 15px 20px
.opening
  position relative
  width 100vw
  height 100vh
  background-color #000
  background-position 25% center
  background-repeat no-repeat
  background-size cover
  overflow-x hidden
  &__curtain
    display flex
    flex-direction column
    justify-content center
    align-items center
    width 100%
    height 100%
    background-image url("./images/opening-black.jpg")
    background-position 25% center
    background-repeat no-repeat
    background-size cover
    opacity 0
  .typedElementContainer
    width 70%
    text-align justify
    .arrow
      width 30%
      margin 40px auto 0
      opacity 0
      > img
        width 100%
  .typedElement
    color #fff
    font-weight 300
    font-size 1.2rem
    line-height 1.5
.intro
  display flex
  flex-direction column
  align-items center
  justify-content center
  width 100vw
  height 100vh
  color #fff
  background-color #333
  background-image url('./images/grid.png')
  background-size 15px 15px
  overflow-x hidden
  &__title
    width 80%
  &__start
    display flex
    flex-direction column
    align-items center
    width 80%
    margin-top 20px
    z-index 500
    > span
      color #e4f36f
      font-size 1.2rem
      font-weight 300
    > a
      display block
      margin-top 20px
      font-size 0
      > img
        width 120px
  &-titleStart
    display flex
    flex-direction column
    width 80%
    margin-top 60px
    &__title
      width 100%
    &__start
      display flex
      flex-direction column
      align-items center
      margin-top 20px
      > span
        color #e4f36f
        font-size 1.2rem
        font-weight 300
      > a
        display block
        margin-top 20px
        font-size 0
        > img
          width 120px
  &__slideshow
    width 80%
    margin-top 20px
    overflow hidden
    &--Container
      width 400%
      > img
        float left
        width calc(100% / 4)
.question
  align-items center
  justify-content center
  width 100vw
  height 100vh
  padding 0 15px
  background-color #333
  background-image url('./images/grid.png')
  background-size 15px 15px
  overflow-x hidden
  &-container
    width 100%
  &-options
    > h2
      margin 0 auto 40px
      text-align center
      color #fff
      font-size 2rem
      letter-spacing .2rem
    &__option
      display flex
      justify-content center
      align-items center
      height 80px
      margin 30px 0
      text-align center
      background-color #fff
      border 3px solid #b3b3b3
      border-radius 20px
      cursor pointer
      > span
        font-size 1.2rem
        line-height 1.5
      &.selected
        color #e0f358
        background-color #000
        border-color #e0f358
        box-shadow 0 0 5px 2px rgba(224, 243, 88, .7)
    &.hidden
      display none
    
.questionResult
  display none
  width 100vw
  height auto
  background-color #f2f2f2
  overflow-x hidden
  &-container
    width 400%
    min-width 400%
    height auto
    > article
      display none
      width 100vw
      overflow hidden
      &.active
        display block
.jobIntro
  &__titleImage
    > h2
      font-size 2rem
      line-height 1.2
      font-weight 500
      text-align center
    > div
      display flex
      justify-content center
      align-items center
      position relative
      width 80%
      margin 10px auto 0
    &--jobIcon
      width 100%
    &--qualified
      position absolute
      width 100px
      &.railway
        top 50%
        left 40%
        transform translate(-50%, -50%)
      &.bus
        top 30%
        left 30%
        transform translate(-50%, -50%)
      &.freight
        top 75%
        left 50%
        transform translate(-50%, -50%)
      &.airline
        top 50%
        left 70%
        transform translate(-50%, -50%)
  &__content
    margin-top 20px
    > h2
      font-size 2rem
      line-height 1.2
    > p
      margin-top 15px
      font-size 1.6rem
      line-height 1.8
      text-align justify
    .focus
      background-color #e0f358
      
.characteristic
  display flex
  flex-direction column
  width 100vw
  height 100vh
  background-color #333
  &__title
    width 120px
    height 35px
    margin 0 auto
    font-size 1.5rem
    text-align center
    line-height 35px
    color #fff
    background-color #f25f5c
    border-radius 20px
  &-card-container
    position relative
    height calc(100% - 55px)
    margin-top 20px
  &-card
    position absolute
    width 80%
    height 80%
    &.top
      left 10%
      z-index 30
      transform translateY(100%)
    &.middle
      top 10%
      z-index 20
      transform translateX(-100%)
    &.bottom
      top 15%
      left 20%
      z-index 10
      transform translateX(100%)
    > img
      width 100%
.story
  padding 15px
  p
    margin 1.5em 0
    font-size 1.6rem
    line-height 1.8
    text-align justify
    > span
      color #9e005d
      font-size 1.6rem
      line-height 1.5
      text-decoration underline
  h2
    margin 1em 0
    font-size: 2rem
    font-weight 500
    line-height 1.3
  .focus
    color #000
    text-decoration none
    line-height 1.8
    background-color #e0f358
  .openAnno
    position relative
  .annotation
    cursor pointer
  .story--annotation
    display none
    position fixed
    top 50%
    left 50%
    transform translate(-50%, -50%)
    width 80%
    padding: 10px;
    text-align: center;
    background-color #fff
    border-radius: 5px
    box-shadow 1px 5px 1px rgba(0,0,0,.3)
    border 1px solid #000
    > p
      margin: .5em 0
      font-size 1.2rem
      line-height 1.5
    > button
      background-color transparent
      border none
    &.active
      display block
  &-tabBox
    display flex
    flex-direction column
    justify-content center
    width 100%
    &__tab
      display flex
      width 100%
      background-color #e6e6e6
      border-top-left-radius 5px
      border-top-right-radius 5px
      &--option
        width 50%
        padding .5em 0
        font-size 1.2rem
        text-align center
        background-color #e6e6e6
        border-bottom 1px solid #ccc
        border-top-left-radius 5px
        border-top-right-radius 5px
        cursor pointer
        &.active
          border 1px solid #ccc
          border-bottom none
          background-color #fff
    &__content
      padding 10px
      background-color #fff
      border 1px solid #ccc
      border-top none
      border-bottom-left-radius 5px
      border-bottom-right-radius 5px
      > div
        display none
        &.active
          display block
      &--info
        display flex
        flex-direction column
        > p
          margin 0
          font-size 1rem
  &__img
    width calc(100% + 30px)
    margin 0 -15px
    padding-top 66.66%
    background-color #000
    background-position center
    background-size cover
    background-repeat no-repeat
    &.vert
      padding-top 150%
    
    &--description
      display block
      margin .5em 0 1em
      font-size 1.3rem
      line-height 1.5
      text-align justify
  &__infobox
    display none
    position fixed
    top 0
    left 0
    z-index 200
    width 100vw
    height 100vh
    background-color rgba(0,0,0,.85)
    overflow-y auto
    > h2
      color #fff
    > p
      color #fff
    > button
      display block
      margin 0 auto
      padding 10px 20px
      color #fff
      background-color #e63946
      box-shadow none
      border-radius 10px
      border none
    &.active
      display block
      
  &-tabBox-chartInfo
    margin-top 10px
    > div
      display inline-block
      width 1rem
      height 1rem
    > p
      display inline-block
      margin 0
      font-size 1rem
      vertical-align top
      line-height 1
    &--work
      background-color #e0f358
    &--rest
      margin-left 10px
      background-color #ccc
      
  &-tabBox-chart
    width 100%
    margin-top 10px
    > img
      width 100%
      transform none
  &__list
    background-color #fff
    border-radius 5px
    > h2
      padding .5em 1em
      margin 0
    &--labels
      height 20px
      padding 0 1em
      margin 10px 0
      > img
        float left
        height 20px
      > span
        float left
        margin-right 10px
        line-height 20px
  &__listItems
    display flex
    flex-direction column
    margin-top 20px
    > div:nth-child(even)
      background-color #e6e6e6
    &--item
      display flex
      padding 0 1em
      > span
        display flex
        align-items center
        width 20px
        font-size 20px
      > .content
        width calc(100% - 50px)
        padding 10px
        border-right 1px solid rgba(138,0,75,.1)
        > p
          margin 0
          font-size 1.2rem
        > .situation
          margin-top 10px
          font-weight 500
      > .img
        display flex
        align-items center
        width 30px
        padding-left 10px
        > img
          width 100%
  &__chart
    &--bus
      width 100%
      text-align center
      > img
        width 100%
        transform none
  &__img
    &--normal
      width 100%
      &.desktop-only
        display none
      
.storyBlood
  display none
  justify-content center
  align-items center
  position fixed
  bottom 0
  z-index 200
  width 100%
  height 50px
  background-color rgba(255,255,255,.8)
  &__icon
    position relative
    width 40px
    height 40px
    margin-right 10px
    > img
      position absolute
      height 100%
    &--tired
      opacity 0
    &--dead
      opacity 0
  &__blood
    position relative
    width 190px
    height 40px
    &--hp
      position absolute
      left 0
      width 190px
      height 40px
      background-position left center
      background-repeat no-repeat
      overflow hidden
      &.hpPlus
        z-index 201
      &.hpReduce
        z-index 200
  &.active
    display flex
  
.dialogue
  display flex
  justify-content center
  align-items center
  position relative
  width 100vw
  height 100vh
  background-color #333
  background-image url('./images/grid.png')
  background-size 15px 15px
  &__player, &__opponent
    position relative
    display none
    width 80%
    &.active
      display block
    > img
      height 80px
  &__opponent
    text-align right
  &--words
    position relative
    top -2px
    padding 20px
    text-align justify
    line-height 1.5rem
    background-color #f2f2f2
    border-radius 3px
    > p
      line-height 1.5
    a
      color #9e005d
      text-decoration underline
  > button
    position absolute
    left 50%
    bottom 50px
    transform translateX(-50%)
    padding 5px 10px
    color #fff
    background-color #cf192c
    border 1px solid #4d4d4d
    border-radius 3px
    
.slotMachine
  display none
  flex-direction column
  justify-content center
  align-items center
  width 100vw
  height 100vh
  background linear-gradient(#000, #270238 20%, #410652 30%, #62097b 40%, #9518bd 50%, #000)
  background-size contain
  background-image url('./images/slot-bg.jpg')
  overflow-x hidden
  &-container
    display flex
    flex-direction column
    align-items center
    position relative
    width 90%
    height 400px
    background-color #50514f
    border-radius 15px
  &__start
    display flex
    flex-direction column
    justify-content center
    align-items center
    position absolute
    top 0
    left 0
    z-index 100
    width 100%
    height 400px
    padding 20px
    background-color #fff
    border-radius 15px
    > span
      color #000
      font-size 1.5rem
      line-height 1.9rem
      text-align justify
    > button
      padding 10px 20px
      margin-top 20px
      color #fff
      background-color #cf192c
      border 3px solid #fff
      border-radius 20px
      cursor pointer
  &__game
    display flex
    justify-content center
    align-items center
    position absolute
    top 0
    left 0
    width 100%
    height 400px
    &-item
      position relative
      width 100%
      height 400px
      border-radius 15px
      &--img
        display flex
        flex-direction column
        align-items center
        position absolute
        top 50px
        left 50%
        transform translateX(-50%)
        > img
          width 150px
          height 150px
        > span
          margin-top 10px
          text-align justify
          font-size 1.5rem
          line-height 1.9rem
      &.success
        background-color #cf192c
        > .slotMachine__game-item--img
          top 50%
          left 50%
          transform translate(-50%, -50%)
      &--button
        display flex
        justify-content space-between
        position absolute
        bottom 40px
        left 50%
        transform translateX(-50%)
        width 70%
        > button
          width calc((100%- 20px)/2)
          padding 0
          color #fff
          font-size 0
          border none
          background-color transparent
          > img
            width 100%
  &__gameContainer
    position relative
    width 100%
    height 400px
    background-color #fff
    border-radius 5px
    overflow hidden
    &:before
      content ''
      position absolute
      z-index 999
      top 50%
      left -1px
      transform translateY(-50%)
      border-style solid
      border-width 10px 0 10px 15px
      border-color transparent transparent transparent #50514f
    &:after
      content ''
      position absolute
      z-index 999
      top 50%
      right -1px
      transform translateY(-50%)
      border-style solid
      border-width 10px 15px 10px 0
      border-color transparent #50514f transparent transparent
  .arrow
    width 100px
    margin-top 30px
    > img
      width 100%
.dlc
  display none
  width 100vw
  height 100vh
  background-color #f2f2f2
  overflow-x hidden
  &-container
    display flex
    flex-direction column
    justify-content center
    align-items center
    width 100%
    height 100%
    text-align center
    > h2
      font-size 2rem
      line-height 1.2
      flex 0 1 auto
  &__choices
    display flex
    flex 0 1 auto
    justify-content space-between
    width 100%
    margin-top 20px
    &--option
      width calc((100% - 20px) / 3)
      padding 10px
      font-size 1.2rem
      background-color #fff
      border 2px solid #bcbcbc
      border-radius 10px
      cursor pointer
      &.active
        color #e0f358
        background-color #000
  &__result
    display flex
    flex-grow 1
    width 100%
    height 1px
    margin-top 10px
    padding 10px
    font-size 1rem
    background-color #fff
    border 2px solid #bcbcbc
    border-radius 10px
    > article
      display none
      flex-grow 1
      width 100%
      text-align justify
      overflow-y auto
      > p
        margin .5em
        line-height 2rem
      a
        color #9e005d
        text-decoration underline
      &.active
        display block
    .annotation
      font-size 1rem
      line-height 1.5
.laborInspection
  display none
  flex-direction column
  padding 70px 0 20px
  overflow hidden
  
  h2, p, h3, table, span
    padding 0 15px

  h2
    margin .5em 0
    font-size 2rem
    font-weight 500
    line-height 1.3
  h3
    margin 1em 0 .2em
    font-size 1.7rem
    font-weight 500
    line-height 1.2
    text-align justify
    > span
      padding 0
  p
    margin .5em 0
    font-size 1.6rem
    line-height 1.8
    text-align justify
    > a
      color #9e005d
  &__chart
    width calc(100% - 30px)
    margin 0 auto
  
  &__img
    width 100%
    padding-top 66.66%
    background-color #000
    background-position center
    background-size cover
    background-repeat no-repeat
    &--description
      display block
      margin .5em 0 1em
      font-size 1.3rem
      line-height 1.5
      text-align justify
  .annotation
    > p
      color rgba(0,0,0,.7)
      font-size 1.2rem
  .highlight
    color #9e005d
  .bold
    font-weight 500
  > table
    width 100%
    tr:nth-child(even)
      background-color #e6e6e6
    tr
      td
        &.index
          text-align center
          font-size 1rem
          width 2rem
          border-right 1px dotted #999
        &.company
          padding 5px
          font-size 1rem
          line-height 1.3
        &.amount
          text-align center
          font-size 1rem
          width 3rem
          border-left 1px dotted #999
        &.law
          padding 5px
          line-height 1.5
        &.law-amount
          display none
          width 110px
          padding-left 5px
    span
      padding 0
  &--divider
    width 100%
    height 1px
    background-color #000
.ending
  display none
  flex-direction column
  width 100vw
  height 100vh
  background-color #333
  overflow-x hidden
  &__title
    height 50px
    color #fff
    font-size 2rem
    text-align center
    line-height 50px
  &__link
    display flex
    flex-direction column
    align-items center
    width 100%
    height calc(100% - 120px)
    &--option
      display flex
      justify-content center
      align-items center
      position relative
      display flex
      height calc((100% - 120px)/3)
      background-color #fff
      border 3px solid #b3b3b3
      border-radius 5px
      > div
        position relative
        width 90%
        height 100%
        > img
          position absolute
          left 0
          bottom 0
          width 50px
        > button
          position absolute
          top 50%
          left 70px
          transform translateY(-50%)
          padding 0
          font-size 1.6rem
          background-color transparent
          border none
      &.active
        display none
  &__linkContainer
    display flex
    flex-direction column
    justify-content space-around
    width 80%
    height 100%
    &--related
      flex-grow 1
      background-color #fff
      border 3px solid #b3b3b3
      border-radius 5px
  &__credit
    height 70px
    color #fff
    text-align center
    font-size 1rem
    font-weight 300
    line-height 1.4rem
    letter-spacing 1px    
.logoShare
  position fixed
  top 10px
  left 10px
  z-index 999
  > a
    font-size 0
  &__logo
    display block
    > img
      width 40px
      height 40px
  &__share
    display flex
    justify-content center
    align-items center
    position absolute
    top 1px
    left 51px
    z-index 900
    width 38px
    height 38px
    border-radius 19px
    transition transform .2s ease-out
    > img
      height 20px
    &.toggle
      width 40px
      height 40px
      top 0
      left 50px
      z-index 999
      background-color #000
      border-radius 20px
    &.fb
      background-color #3b5998
      &.open
        transition-duration .19s
        transform translate3d(50px,0,0)
    &.line
      background-color #00c300
      &.open
        transition-duration .19s
        transform translate3d(100px,0,0)
    &.gplus
      background-color #d34836
      > img
        height 15px
      &.open
        transition-duration .19s
        transform translate3d(150px,0,0)
.jobNav
  &--mobile
    display none
    position fixed
    top 10px
    right 10px
    z-index 1001
    width 40px
    height 40px
    background-color #000
    border-radius 20px
    &.active
      display block
    &.clicked
      > .hamburger
        display none
      > img
        display block
    > img
      display none
      position absolute
      top 50%
      left 50%
      transform translate(-50%, -50%)
      width 30px
      height 30px
    > .hamburger
      width 15px
      height 2px
      background white
      display block
      position absolute
      top 50%
      left 50%
      margin-left -7.5px
      margin-top -1px
      transition transform 200ms
      &.hamburger-1
        transform translate3d(0, -6px, 0)
      &.hamburger-2
        transform translate3d(0, 0, 0)
      &.hamburger-3
        transform translate3d(0, 6px, 0)
  &--desktop
    display none
    position fixed
    top 10px
    right 10px
    z-index 999
    > div
      width 100px
      margin 0 10px
      padding 10px
      text-align center
      background-color #e0f358
      border-radius 10px
      box-shadow 0 0 5px 2px rgba(255, 255, 255, 1) inset
      cursor pointer
    > div:hover
      color #e0f358
      background-color #000
      box-shadow 0 0 5px 2px rgba(255, 255, 255, 1) inset
.sidebarJob
  position fixed
  top 0
  left 0
  width 100vw
  height 100vh
  background-color: #f2f2f2
  transform translateX(200%)
  transition .5s ease-in-out
  z-index 1000
  overflow-x hidden
  > div:not(:first-child)
    border-top 2px solid #4d4d4d
  &.clicked
    transform translateX(0)
  &__block
    position relative
    width 100%
    height 25%
    > img
      position absolute
      bottom 0
      height 90%
      &.left
        left 10%
      &.right
        right 10%
        transform rotateY(180deg)
    > span
      position absolute
      top 50%
      transform translateY(-50%)
      font-size 2rem
      &.left
        right 10%
      &.right
        left 10%
.fbComment
  display none
  padding 1.5em 1em

/* Tablet Portrait */
@media only screen and (min-width: 375px)
  .ending__link--option
    > div
      width 80%
      > img
        width 60px
      > button
        left 80px

/* Tablet Portrait */
@media only screen and (min-width: 600px)
  h1
    font-size 3rem
  h2
    font-size 2rem
  p
    font-size 1.8rem
  .container
    padding 60px 2em 20px
  .intro
    &-titleStart
      &__start
        > span
          font-size 3rem
        > a
          > img
            width 200px
      
    &__slideshow
      width 60%
      margin-top 60px
  .jobIntro
    min-height 100vh
    &__titleImage
      > div
        width 50%
      &--qualified
        width 120px
    &__content
      margin-top 40px
      > p
        margin-top 20px
  .question
    &-container
      width 50%
  .story
    padding 1em 2em
    &__img
      width calc(100% + 4em)
      margin 0 -2em
  .dialogue
    &__player, &__opponent
      > img
        height 120px
    &--words
      line-height 1.5
  .slotMachine
    &__game-item
      &.success
        > .slotMachine__game-item--img
          > img
            width 300px
            height 300px
      &--button
        width 50%
    .arrow
      margin-top 50px
  .laborInspection
    padding 60px 0 20px
    h2, p, h3, table, span
      padding 0 2em
    &__chart
      width calc(100% - 4em)
    &__img
      width 100%
  .dlc
    &__choices
      margin-top 20px
      &--option
        font-size 1.8rem
    &__result
      margin-top 20px
      > article
        > p
          line-height 2.5rem
  .ending
    justify-content center
    &__title
      margin-bottom 20px
    &__linkContainer
      width 60%
    &__link
      height calc(100% - 210px)
      &--option
        height 150px
        margin-bottom 20px
        > div
          > img
            width 80px
          > button
            left 40%
            font-size 2rem
        
    &__credit
      height 120px
      margin-top 20px
      font-size 1.5rem
      line-height 2rem  
/* Desktop */
@media only screen and (min-width: 900px)
  h1
    font-size 5rem
  .container
    padding 60px 5em 20px
    
  .mobile-only
    display none
    
  .opening
    background-position center center
    .typedElement
      font-size 1.6rem
      line-height 1.5
    .typedElementContainer
      width 50%
      .arrow
        width 90px
        margin 60px auto 0
  .intro
    justify-content flex-start
    position relative
    > h1
      margin-top 40px
      font-size 7rem
    > h2
      margin-top .2em
    &__title
      width 40%
      margin-top 10%
    &__start
      flex-direction column
      align-items center
      width auto
      margin-top 20px
      > span
        font-size 2rem
      > a
        margin-top 20px
        > img
          width 120px
    &-titleStart
      width 40%
      &__start
        justify-content center
        flex-direction row
        > a
          margin-top 0
          > img
            width 150px
    &__slideshow
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      margin-top 0
      &--Container
        position absolute
        display flex
        width 100%
        height 100%
        justify-content space-around
        > img
          position absolute
          width auto
          height 250px
          &.freight
            left 10%
            top 20%
          &.bus
            bottom 5%
            left 25%
          &.airline
            bottom 7%
            right 25%
          &.railway
            right 5%
            top 15%
  .jobIntro
    display flex
    align-items center
    justify-content space-around
    width 100vw
    height 100vh
    &__titleImage
      display flex
      flex-direction column
      justify-content center
      align-items center
      height 60%
      > div
        width auto
        height 80%
      &--jobIcon
        height 100%
        width auto
    &__content
      display flex
      flex-direction column
      justify-content center
      width 70%
      height auto
      margin 0 0 0 40px
      padding 2em
      background-color #fff
      border 5px solid #b3b3b3
      border-radius 15px
      > h2
        margin-bottom 30px
  .question
    padding 0 2em
    &-container
      display flex
      justify-content space-around
      width 100%
    &-options
      width calc(100%/3 - 60px)
      > h2
        font-weight 500
        font-size 2rem
      &.hidden
        display block
      &__option
        > span
          font-size 1.6rem
  .characteristic
    justify-content center
    align-items center
    &-card-container
      display flex
      justify-content space-around
      align-items center
      height auto
      margin-top 40px
    &__title
      width auto
      height auto
      padding 10px 20px
      font-size 3rem
    &-card
      position relative
      width 30%
      height auto
      &.top
        left auto
        transform translateY(0)
      &.middle
        top auto
        z-index 20
        transform translateX(0)
      &.bottom
        top auto
        left auto
        z-index 10
        transform translateX(0)
  .story
    display flex
    flex-direction column
    width 50%
    padding 80px 0
    margin 0 auto
    p, h2
      margin .5em 0
    &-tabBox
      &__tab
        &--option
          font-size 1.6rem
      &__content
        margin-bottom 10px
        &--info
          padding 20px
          > p
            font-size 1.2rem
      &-chart
        text-align center
        margin-top 20px
        > img
          width 80%
    &-tabBox-chartInfo
      > div
        width 1.2rem
        height 1.2rem
      > p
        font-size 1.2rem
        margin 0
    &__chart
      &--bus
        padding 10px 0
        background-color #fff
        border 1px solid #000
        border-radius 5px
        > img
          width 50%
    &__img
      width 100%
      margin 0
      &--normal
        &.mobile-only
          display none
        &.desktop-only
          display inline
    .story--annotation
      width 50vw
      padding 1.5em
      > p
        font-size 1.6rem
  .storyBlood
    &__blood
      &--hp
        width 300px
  .dialogue
    flex-direction column
    &__player, &__opponent
      display block
      position absolute
      left 50%
      transform translate(-50%, 0)
      > img
        position absolute
        bottom 2px
        z-index 20
    &__player
      top 100px
      > img
        left 0
      .dialogue--words
        padding 20px 20px 20px 100px
    &__opponent
      top 300px
      opacity 0
      > img
        right 0
      .dialogue--words
        padding 20px 100px 20px 20px
    &--words
      display flex
      flex-direction column
      align-items flex-start
      justify-content center
      min-height 120px
  .slotMachine
    &-container
      width 700px
      height 500px
    &__start
      height 500px
      > button
        margin-top 40px
    &__game
      height 500px
      &-item
        height 500px
        &--img
          top 30px
          > img
            width 300px
            height 300px
          > span
            margin-top 20px
          
    &__gameContainer
      height 500px
    
  .dlc
    width 100vw
    height 100vh
    justify-content center
    &-container
      width 70%
    &__choices
      height 50px
      &--option
        width calc((100% - 60px) / 3)
        height 50px
    &__result
      flex-grow 0
      height calc((100% - 146px))
      > article
        > p
          font-size 1.6rem
          line-height 1.8
  .laborInspection
    flex-direction column
    width 50%
    margin 0 auto
    h2, p, h3, table, span
      padding 0
    &__chart
      width 100%
    &__img
      width 100%
      margin 0
    > table
      tr
        td
          &.index
            font-size 1.6rem
            width 70px
          &.company
            padding 1em
            font-size 1.6rem
            line-height 1.3
          &.amount
            font-size 1.6rem
            width 70px
          &.law
            padding 1em
            font-size 1.6rem
          &.law-amount
            display table-cell
            width 200px
            padding-left 1em
            font-size 1.6rem
    .annotation
      > p
        font-size 1.3rem
        line-height 1.8
  .ending
    position relative
    justify-content center
    align-items center
    &__title
      margin-bottom 40px
    &__link
      display flex
      justify-content center
      flex-direction row
      &--job
        display flex
        flex-direction column
        justify-content space-between
        margin-right 60px
        > button
          height calc((460px / 3))
          padding 20px 40px
          margin 0
      &--option
        width calc((100% - 60px) / 3 )
        height 200px
        margin-bottom 0
        background-color transparent
        border none
        > div
          display flex
          flex-direction column
          width 100%
          height 200px
          > img
            width auto
            height 150px
            position relative
            left auto
            bottom auto
            margin 0 auto
          > button
            position relative
            left auto
            top auto
            transform none
            width 100%
            height 50px
            background-color #fff
            border 3px solid #b3b3b3
            border-radius 5px
      &--related
        width 500px
        height 500px
        flex-grow 0
    &__linkContainer
      display flex
      flex-direction row
      justify-content space-between
      width 100%
    &__credit
      position absolute
      left 50%
      bottom 30px
      transform translateX(-50%)
      line-height 1.5
  .jobNav
    &--mobile
      display none !important
    &--desktop
      > div
        margin 0 5px
      &.active
        display flex
    &__option
      display flex
      align-items center
      justify-content center
      font-size 1.2rem
      line-height 1.2
  .fbComment
    padding 1.5em 10em
    
@media only screen and (min-width: 900px) and (min-height: 830px)
  .dialogue__player
    top 150px
  .dialogue__opponent
    top 400px
@media only screen and (min-width: 1500px)
  .dialogue__player, .dialogue__opponent
    width 50%
  .dialogue__player
    top 200px
  .dialogue__opponent
    top 450px